.load-more {
  cursor: pointer;
  font-size: 12px;
  padding-left: 40px;

  a {
    background: $very-light-grey;
    border-radius: 12px;
    padding: 4px 12px;
    display: inline-flex;
    align-items: center;
    color: inherit;

    .arrow {
      margin-right: 18px;
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url('img/glyph-showmore-16.svg');
      background-size: 15px;
    }

    &:hover {
      background: darken($very-light-grey, 10%);
    }
  }
}
