.link-menu-button {
  cursor: pointer;
  position: absolute;
  top: -($link-menu-button-size / 2);
  offset-inline-end: -($link-menu-button-size / 2);
  width: $link-menu-button-size;
  height: $link-menu-button-size;
  background-color: $white;
  background-image: url('#{$image-path}glyph-more-16.svg');
  background-position: 65%;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border: $link-menu-button-border;
  border-radius: 100%;
  box-shadow: $link-menu-button-boxshadow;
  transform: scale(0.25);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 200ms;
  z-index: 399;
}
