.card-outer {
  background: $white;
  display: inline-block;
  margin-inline-end: $base-gutter;
  width: $card-width;
  border-radius: $border-radius;
  height: $card-height;
  position: relative;
  @include context-menu-button;

  .card {
    height: 100%;
    border-radius: $border-radius;
    box-shadow: $card-box-shadow;
  }

  > a {
    display: block;
    color: inherit;
    height: 100%;
    outline: none;
    position: absolute;
    max-width: $card-width;

    &.active, &:focus {
      .card {
        @include fade-in-card;
      }
      .card-title {
        color: $link-blue;
      }
    }
  }

  &:hover, &:focus, &.active {
    outline: none;
    @include fade-in-card;
    @include context-menu-button-hover;

    .card-title {
      color: $link-blue;
    }
  }

  .card-preview-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: $card-preview-image-height;
    border-bottom-color: $faintest-black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: $border-radius $border-radius 0 0;
  }

  .card-details {
    padding: 15px 16px 12px;

    &.no-image {
      padding-top: 16px;
    }
  }

  .card-text {
    overflow: hidden;
    max-height: 4*$card-text-line-height + $card-title-margin;

    &.no-image {
      max-height: 10*$card-text-line-height + $card-title-margin;
    }
    &.no-host-name, &.no-context {
      max-height: 5*$card-text-line-height + $card-title-margin;
    }
    &.no-image.no-host-name, &.no-image.no-context {
      max-height: 11*$card-text-line-height + $card-title-margin;
    }
    &.no-host-name.no-context {
      max-height: 6*$card-text-line-height + $card-title-margin;
    }
    &.no-image.no-host-name.no-context {
      max-height: 12*$card-text-line-height + $card-title-margin;
    }
  }

  .card-host-name {
    color: $mid-light-grey;
    font-size: 10px;
    padding-bottom: 4px;
    text-transform: uppercase;
  }

  .card-title {
    margin: 0 0 $card-title-margin;
    font-size: 14px;
    word-wrap: break-word;
    line-height: $card-text-line-height;
  }

  .card-description {
    font-size: 12px;
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
    line-height: $card-text-line-height;
  }

  .card-context {
    padding: 16px 16px 8px 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $light-grey;
    font-size: 11px;
    display: flex;
    align-items: center;
  }

  .card-context-icon {
    opacity: 0.5;
    font-size: 13px;
    margin-inline-end: 6px;
    display: block;
  }

  .card-context-label {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
