{
  // When adding items to this file please check for effects on sub-directories.
  "plugins": [
    "mozilla",
    "react"
  ],
  "rules": {
    "mozilla/components-imports": 1,
    "mozilla/import-globals-from": 1,
    "mozilla/this-top-level-scope": 1,
    "no-unused-vars": 2,
    "semi": [2, "always"],
    "no-undef": 2,
    "object-curly-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "react/jsx-uses-react": 1,
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true,
  },
  "globals": {
    "require": true,
    "StopIteration": true,
    "exports": true,
    "__CONFIG__": true
  }
}
