{
  // When adding items to this file please check for effects on sub-directories.
  "plugins": [
    "mozilla",
    "react"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "mozilla/components-imports": 1,
    "mozilla/import-globals-from": 1,
    "mozilla/this-top-level-scope": 1,

    "react/jsx-uses-react": 1,

    "array-bracket-spacing": [2, "never"],
    "comma-dangle": 0,
    "computed-property-spacing": [2, "never"],
    "no-console": 1,
    "no-trailing-spaces": [2, {"skipBlankLines": false}],
    "no-undef": 2,
    "no-unused-vars": 2,
    "object-curly-spacing": [2, "never"],
    "semi": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "never", "named": "never"}]
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true,
  },
  "globals": {
    "StopIteration": true,
    "__CONFIG__": true
  }
}
