node_modules
npm-debug.log
.DS_Store
.static-storybook
*.sw[po]
*.xpi
*.pyc
logs/
dist/
data/content/
data/locales/
activity-streams-env/
firefox/
config.yml
.amo_config.json
common/vendor.js
*.update.rdf
system-addon/data/content/activity-stream.bundle.js
system-addon/data/content/activity-stream.css
