node_modules
npm-debug.log
.DS_Store
*.sw[po]
*.xpi
*.pyc
logs/
dist/
firefox/
*.update.rdf
system-addon/data/content/activity-stream.bundle.js
system-addon/data/locales.json
system-addon/css/
system-addon/prerendered/
bin/prerender.js
bin/prerender.js.map
