.site-icon {
  position: relative;
  border-radius: $site-icon-border-radius;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .site-icon-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .site-icon-background {
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .site-icon-fallback {
    height: $tile-width;
    line-height: $tile-width;
    opacity: 0.75;
    text-transform: uppercase;

    &::after {
      content: attr(data-first-letter);
    }
  }
}
