.site-icon {
  > div {
    height: 100%;
    width: 100%;
  }

  .site-icon-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .site-icon-fallback {
    align-items: center;
    color: $white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
}
