.activity-feed {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feed-item {
  display: flex;
  padding-left: $feed-gutter-h + $feed-circle-size;
  padding-bottom: $feed-gutter-v;
  position: relative;

  // This is the line/circle on the side
  &:first-child {
    &::before {
      margin-top: -($feed-gutter-v / 2 + $feed-circle-size / 2);
      top: 50%;
    }
  }

  &:last-child {
    &::before {
      bottom: 50%;
      margin-bottom: $feed-gutter-v / 2 + $feed-circle-size / 2;
    }
  }

  &::before {
    background: lighten($light-grey, 20%);
    bottom: 0;
    content: '';
    display: block;
    left: ($feed-circle-size - 2) / 2;
    position: absolute;
    top: 0;
    width: 2px;
  }

  &::after {
    background: $bg-color;
    border: 2px solid $light-grey;
    border-radius: 50%;
    content: '';
    display: block;
    height: $feed-circle-size;
    left: 0;
    position: absolute;
    top: 50%;
    width: $feed-circle-size;
    margin-top: -($feed-gutter-v / 2 + $feed-circle-size / 2);
  }

  &.bookmark::after {
    background: none;
    border: 0;
    color: $star-blue;
    content: '\f005';
    font: normal normal normal 18px/1 FontAwesome;
    height: auto;
    left: 0;
    margin-left: -4px;
    margin-top: -($feed-gutter-v / 2 + 18 / 2);
    cursor: pointer;
  }
}

.site-icon.feed-icon {
  flex-shrink: 0;
  margin-right: 10px;
}

.feed-details {
  align-items: baseline;
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  .feed-description {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;

    .feed-title {
      font-size: inherit;
      font-weight: normal;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .feed-link {
      display: block;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .feed-stats {
    color: $light-grey;
    flex-shrink: 0;
    font-size: 13px;
    text-align: right;
  }
}
