.grouped-activity-feed {
  .group {
    border-bottom: solid 1px $faintest-black;
    margin-bottom: 12px;
    padding-bottom: 12px;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

.activity-feed {
  font-size: $feed-font-size;
  line-height: 1.4;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feed-item {
  @include link-menu-button;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: $border-radius;

  > a {
    display: flex;
    padding-left: $feed-gutter-h * 2 + $feed-circle-offset;
    padding-right: $feed-gutter-h;
    padding-bottom: $feed-gutter-v;
    padding-top: $feed-gutter-v;
    color: inherit;
    width: 100%;
  }

  // This is the line/circle on the side
  &:first-child {
    &::before {
      margin-top: -($feed-circle-size / 2);
      top: 32px;
    }
  }

  &:last-child {
    &::before {
      bottom: 50%;
      margin-bottom: $feed-circle-size / 2;
    }
  }

  &::before {
    background: $feed-line-color;
    bottom: -1px;
    content: '';
    display: block;
    left: $feed-gutter-h * 2 - $feed-circle-size;
    position: absolute;
    top: -1px;
    width: 2px;
  }

  &::after {
    background: $bg-color;
    border: 2px solid $feed-circle-color;
    border-radius: 50%;
    content: '';
    display: block;
    height: $feed-circle-size;
    left: $feed-gutter-h + 3;
    position: absolute;
    top: 28px;
    width: $feed-circle-size;
    margin-top: -($feed-circle-size / 2);
  }

  &.bookmark::after {
    display: none;
  }

  &.bookmark .star {
    background: url('#{$image-path}glyph-bookmark-16-blue.svg') no-repeat center center;
    background-size: 18px;
    border: 0;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 19px;
    left: $feed-gutter-h - 2;
  }

  &.active,
  &:hover {
    background: $feed-hover-color;
    border: 1px solid $faintest-black;

    .action-items-container {
      opacity: 1;
      transition-delay: 250ms;
      transition-property: opacity;
      transition-duration: 250ms;
    }
  }
}

.site-icon.feed-icon,
.feed-icon-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.feed-icon-image {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 1px solid $faintest-black;
  border-radius: $border-radius;
  flex-shrink: 0;

  .site-icon.feed-icon {
    position: absolute;
    top: -5px;
    left: -5px;
  }
}

.feed-details {
  align-items: baseline;
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  .feed-description {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;

    .feed-title {
      font-size: inherit;
      font-weight: normal;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .feed-url {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $link-blue;

      &::after {
        content: attr(data-feed-url);
      }
    }
  }

  .feed-stats {
    color: $feed-date-font-color;
    flex-shrink: 0;
    text-align: right;
  }

  .last-visit {
    &::after {
      content: attr(data-last-visit);
    }
  }
}
