.activity-feed {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feed-item {
  display: flex;
  padding-left: $feed-gutter-h + $feed-circle-size;
  padding-right: $feed-gutter-h;
  padding-bottom: $feed-gutter-v / 2;
  padding-top: $feed-gutter-v / 2;
  position: relative;
  border: 1px solid transparent;
  border-radius: $border-radius;

  // This is the line/circle on the side
  &:first-child {
    &::before {
      margin-top: -($feed-circle-size / 2);
      top: 50%;
    }
  }

  &:last-child {
    &::before {
      bottom: 50%;
      margin-bottom: $feed-circle-size / 2;
    }
  }

  &::before {
    background: lighten($light-grey, 20%);
    bottom: -1px;
    content: '';
    display: block;
    left: $feed-circle-size;
    position: absolute;
    top: -1px;
    width: 2px;
  }

  &::after {
    background: $bg-color;
    border: 2px solid $light-grey;
    border-radius: 50%;
    content: '';
    display: block;
    height: $feed-circle-size;
    left: ($feed-circle-size + 2) / 2;
    position: absolute;
    top: 50%;
    width: $feed-circle-size;
    margin-top: -($feed-circle-size / 2);
  }

  &.bookmark::after {
    background: none;
    border: 0;
    color: $star-blue;
    content: '\f005';
    font: normal normal normal 18px/1 FontAwesome;
    height: auto;
    left: ($feed-circle-size + 2) / 2;
    margin-left: -4px;
    margin-top: -9px;
    cursor: pointer;
  }

  .action-items-container {
    background: $bg-grey;
    border: solid 1px $light-grey;
    border-radius: $border-radius;
    position: absolute;
    right: -5px;
    bottom: -5px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
  }

  .action-item {
    cursor: pointer;
    width: 40px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    border-right: solid 1px $faintest-black;
    padding: 10px 8px;

    &:last-child {
      border-right: 0;
    }

    &.icon-more {
      background-image: url('img/glyph-more-16.svg');
    }

    &.icon-delete {
      background-image: url('img/glyph-delete-16.svg');
    }

    &.icon-share {
      background-image: url('img/glyph-share-16.svg');
    }
  }

  &:hover {
    background: $bg-grey;
    border: 1px solid $faintest-black;

    .action-items-container {
      opacity: 1;
      transition-delay: 250ms;
      transition-property: opacity;
      transition-duration: 250ms;
    }
  }
}

.site-icon.feed-icon {
  flex-shrink: 0;
  margin-right: 10px;
}

.feed-details {
  align-items: baseline;
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  .feed-description {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;

    .feed-title {
      font-size: inherit;
      font-weight: normal;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .feed-link {
      display: block;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .feed-stats {
    color: $light-grey;
    flex-shrink: 0;
    font-size: 13px;
    text-align: right;
  }
}
