.grouped-highlight-feed {
  ul {
    line-height: 1.2;
  }

  .feed-item {
    margin: 1rem 0;
    border: 1px solid $feed-item-border-color;

    // Hide the timeline view of recent activity.
    &::before,
    &::after {
      display: none;
    }
  }

  .site-icon.feed-icon,
  .feed-icon-image {
    width: $highlight-feed-icon-width;
    height: $highlight-feed-icon-height;
  }

  .feed-icon-image {
    border: 0;
    margin: 0;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    .site-icon.feed-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      margin-top: -16px;
    }
  }

  .feed-item > a {
    padding: 0;
  }

  .feed-description {
    padding: 12px $base-gutter;
  }

  .feed-description > .feed-title {
    font-weight: bold;
    font-size: 14px;
  }

  .feed-description > .feed-summary {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
  }

  .feed-summary-text {
    display: inline-block;
    overflow: hidden;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .feed-details {
    align-items: center;
  }

  .feed-details .feed-url {
    display: inline-block;
    color: $highlight-feed-url-color;
  }

  // Bullet between url and description.
  .feed-summary-text::before {
    margin: 0 5px;
    content: '\2022';
    color: $feed-circle-color;
  }

  .feed-source {
    display: block;
    margin: 5px;
    width: $feed-circle-size;
    height: $feed-circle-size;
    border: 2px solid $feed-circle-color;
    border-radius: 50%;
    background: $bg-color;

    flex: 0 1 auto;
  }

  .last-visit {
    font-size: 11px;
    flex: 0 1 auto;
  }

  .feed-source.bookmark {
    border: 0;
  }

  .feed-source.bookmark .star {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 18px;
    height: 18px;
    border: 0;
    background: url('#{$image-path}glyph-bookmark-16-blue.svg') no-repeat center center;
    background-size: 18px;
  }

  .feed-stats {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    align-items: center;
    justify-content: flex-start;
  }
}
