.spotlight {
  margin-right: -$base-gutter;

  .section-title {
    // Compensate for margin on spotlight-items.  Once spotlight-list can be a
    // a CSS grid (firefox 51); we should be able to ditch this.
    //
    // XXX figure out if similar hack is needed for bottom of spotlight-list
    margin: 0 0 7px;
  }

  ul.spotlight-list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap; // avoid horizontal overflow of items
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.spotlight-item {
  @include item-shadow;
  @include link-menu-button;
  color: $black;
  font-size: 14px;
  background: $white;
  display: inline-block;
  margin-right: $base-gutter;
  width: $spotlight-item-width;
  border-radius: $border-radius;
  height: $spotlight-item-height;
  position: relative;

  // Space the items inside .spotlight-list out properly, until firefox 51,
  // when we can make .spotlight-list be a CSS grid
  margin-top: 12px;
  margin-bottom: 12px;

  @media (min-width: $break-point) {
    flex-shrink: 0;
  }

  .inner-border {
    border-color: $faintest-black;
  }

  > a {
    display: block;
    color: inherit;
    height: 100%;
  }

  .spotlight-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: $spotlight-img-height;
    border-radius: $border-radius $border-radius 0 0;

    &.portrait {
      background-position: top center;
    }
  }

  .spotlight-icon {
    border-radius: 3px;
    left: $spotlight-icon-gutter;
    overflow: hidden;
    position: absolute;
    top: $spotlight-icon-gutter;
  }

  .spotlight-label {
    color: $mid-light-grey;
    font-size: 10px;
  }

  .spotlight-title {
    margin: 0 0 $spotlight-title-margin-bottom;
    font-size: inherit;
    word-wrap: break-word;
  }

  &:hover .spotlight-title {
    color: $link-blue;
  }

  .spotlight-info {
    padding: $spotlight-info-top-padding $spotlight-info-default-padding;
  }

  .spotlight-text {
    max-height: $spotlight-text-height;
    overflow: hidden;

    // absolute units because this is inherited to lines with smaller font
    // heights that are still visually compatible with this
    line-height: 18px;
  }

  .spotlight-description {
    font-size: $spotlight-font-size;
    margin: 0;
  }
}
