.spotlight {
  font-size: 14px;
  margin-right: -$base-gutter;

  ul {
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.spotlight-item {
  @include item-shadow;
  background: $white;
  display: inline-block;
  margin-right: $base-gutter;
  width: $spotlight-item-width;
  border-radius: $border-radius;
  height: $spotlight-item-height;
  overflow: hidden;
  position: relative;

  > a {
    display: block;
    color: inherit;
  }

  .spotlight-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: $spotlight-img-height;

    &.portrait {
      background-position: top center;
    }
  }

  .spotlight-icon {
    border-radius: 3px;
    left: $spotlight-icon-gutter;
    overflow: hidden;
    position: absolute;
    top: $spotlight-icon-gutter;
  }

  .spotlight-title {
    margin: 0 0 5px;
    max-height: $spotlight-title-max-height;
    overflow: hidden;
    font-size: inherit;
  }

  &:hover .spotlight-title {
    color: $link-blue;
  }

  .spotlight-info {
    padding: $spotlight-padding;
    height: $spotlight-info-height;
  }

  .spotlight-description {
    font-size: 14px;
    height: $spotlight-description-height;
    margin: 10px 0;
    overflow: hidden;
  }

  .spotlight-context {
    padding: $spotlight-padding;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $light-grey;
    font-size: 11px;
    overflow: hidden;
  }

  &.spotlight-placeholder {
    background: none;
    border: $placeholder-border;
    box-shadow: none;
    height: $spotlight-item-height;
  }
}
