.spotlight {
  margin-right: -20px;

  ul {
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.spotlight-item {
  background: #FFF;
  border-radius: 3px;
  box-shadow: $tile-box-shadow;
  display: inline-block;
  margin-right: 20px;
  overflow: hidden;
  width: $spotlight-item-width;

  .spotlight-image {
    background-size: cover;
    height: $spotlight-img-height;
    position: relative;
  }

  .spotlight-icon {
    border-radius: 3px;
    left: $spotlight-icon-gutter;
    overflow: hidden;
    position: absolute;
    top: $spotlight-icon-gutter;
  }

  .spotlight-title {
    margin: 0 0 5px 0;
    max-height: $spotlight-title-max-height;
    overflow: hidden;

    a {
      color: $dark-grey;
    }
  }

  .spotlight-info {
    height: $spotlight-info-height;
    padding: 10px;
  }

  .spotlight-description {
    font-size: 14px;
    height: $spotlight-description-height;
    margin: 10px 0;
    overflow: hidden;
  }

  .spotlight-type {
    color: $light-grey;
    font-size: 11px;
  }
}
