.ASRouterButton {
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2px;
  border: 1px solid $grey-30;
  background-color: $grey-10;
  font-family: inherit;
  padding: 8px 15px;
  margin-inline-start: 12px;
  color: inherit;
  cursor: pointer;

  .tall & {
    margin-inline-start: 20px;
  }

  &.primary {
    border: 1px solid var(--newtab-button-primary-color);
    background-color: var(--newtab-button-primary-color);
    color: $grey-10;
  }

  &.secondary {
    font-size: 14px;
    font-weight: 600;
  }
}

[lwt-newtab-brighttext] {
  .ASRouterButton {
    background-color: $grey-60;
    border: 1px solid $grey-10-10;
  }
}
