.prefs-pane {
  $options-spacing: 10px;
  $prefs-spacing: 20px;
  $prefs-width: 400px;

  color: $text-conditional;
  font-size: 14px;
  line-height: 21px;

  .sidebar {
    background: $white;
    border-left: $border-secondary;
    box-shadow: $shadow-secondary;
    height: 100%;
    offset-inline-end: 0;
    overflow-y: auto;
    padding: 40px;
    position: fixed;
    top: 0;
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;
    width: $prefs-width;
    z-index: 12000;

    &.hidden {
      transform: translateX(100%);

      &:dir(rtl) {
        transform: translateX(-100%);
      }
    }

    h1 {
      font-size: 21px;
      margin: 0;
      padding-top: $prefs-spacing;
    }
  }

  hr {
    border: 0;
    border-bottom: $border-secondary;
    margin: 20px 0;
  }

  .prefs-modal-inner-wrapper {
    padding-bottom: 100px;

    section {
      margin: $prefs-spacing 0;

      p {
        margin: 5px 0 20px 30px;
      }

      label {
        display: inline-block;
        position: relative;
        width: 100%;

        input {
          offset-inline-start: -30px;
          position: absolute;
          top: 0;
        }
      }

      > label {
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
      }
    }

    .options {
      background: $background-primary;
      border: $border-secondary;
      border-radius: 2px;
      margin: -$options-spacing 0 $prefs-spacing;
      margin-inline-start: 30px;
      padding: $options-spacing;

      &.disabled {
        opacity: 0.5;
      }

      label {
        $icon-offset-start: 35px;
        background-position-x: $icon-offset-start;
        background-position-y: 2.5px;
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        height: auto;
        line-height: 21px;
        width: 100%;

        &:dir(rtl) {
          background-position-x: calc(100% - #{$icon-offset-start});
        }
      }
      [type='checkbox']:not(:checked) + label,
      [type='checkbox']:checked + label {
        padding-inline-start: 63px;
      }
      section {
        margin: 0;
      }
    }
  }

  .actions {
    background-color: $background-primary;
    border-left: $border-secondary;
    bottom: 0;
    offset-inline-end: 0;
    padding: $prefs-spacing;
    position: fixed;
    width: $prefs-width;

    button {
      margin-inline-end: $prefs-spacing;
    }
  }

  // CSS styled checkbox
  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    offset-inline-start: -9999px;
    position: absolute;
  }

  [type='checkbox']:not(:disabled):not(:checked) + label,
  [type='checkbox']:not(:disabled):checked + label {
    cursor: pointer;
    padding: 0 30px;
    position: relative;
  }

  [type='checkbox']:not(:checked) + label::before,
  [type='checkbox']:checked + label::before {
    background: $white;
    border: $border-primary;
    border-radius: $border-radius;
    content: '';
    height: 21px;
    offset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 21px;
  }

  // checkmark
  [type='checkbox']:not(:checked) + label::after,
  [type='checkbox']:checked + label::after {
    background: url('chrome://global/skin/in-content/check.svg') no-repeat center center; // sass-lint:disable-line no-url-domains
    content: '';
    height: 21px;
    offset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 21px;
    -moz-context-properties: fill, stroke;
    fill: $input-primary;
    stroke: none;
  }

  // checkmark changes
  [type='checkbox']:not(:checked) + label::after {
    opacity: 0;
  }

  [type='checkbox']:checked + label::after {
    opacity: 1;
  }

  // hover
  [type='checkbox']:not(:disabled) + label:hover::before {
    border: 1px solid $input-primary;
  }

  // accessibility
  [type='checkbox']:not(:disabled):checked:focus + label::before,
  [type='checkbox']:not(:disabled):not(:checked):focus + label::before {
    border: 1px dotted $input-primary;
  }
}

.prefs-pane-button {
  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    fill: $fill-secondary;
    padding: 15px;
    position: fixed;
    offset-inline-end: 15px;
    top: 15px;
    z-index: 12001;

    &:hover {
      background-color: $background-secondary;
    }

    &:active {
      background-color: $background-primary;
    }
  }
}
