.prefs-pane {
  font-size: 13px;

  .sidebar {
    background: $white;
    border-left: $border-secondary;
    box-shadow: $shadow-secondary;
    height: 100%;
    offset-inline-end: 0;
    overflow: hidden;
    padding: 40px 40px 70px;
    position: fixed;
    top: 0;
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;
    width: 400px;
    z-index: 22000;

    &.hidden {
      transform: translateX(100%);

      &:dir(rtl) {
        transform: translateX(-100%);
      }
    }

    h1 {
      border-bottom: $border-secondary;
      font-size: 24px;
      margin: 0;
      padding: 20px 0;
    }
  }

  .prefs-modal-inner-wrapper {
    height: 100%;
    overflow-y: auto;

    section {
      margin: 20px 0;

      p {
        margin: 5px 0 5px 30px;
      }

      label {
        display: inline-block;
        position: relative;
        width: 100%;

        input {
          offset-inline-start: -30px;
          position: absolute;
          top: 0;
        }
      }

      > label {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .options {
      background: $background-primary;
      border: $border-secondary;
      border-radius: $border-radius;
      margin: 15px 0;
      margin-inline-start: 30px;
      padding: 10px;

      label {
        background-position: 35px center;
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        height: 21px;
        line-height: 21px;
        width: 100%;

        &:dir(rtl) {
          background-position: 217px center;
        }
      }
      [type='checkbox']:not(:checked) + label,
      [type='checkbox']:checked + label {
        padding-inline-start: 63px;
      }
      section {
        margin: 0;
      }
    }
  }

  .sidebar-inner-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .actions {
    background: $white;
    bottom: -70px;
    offset-inline-end: 0;
    padding: 15px 0;
    position: absolute;
    width: 100%;
  }

  // CSS styled checkbox
  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    offset-inline-start: -9999px;
    position: absolute;
  }

  [type='checkbox']:not(:checked) + label,
  [type='checkbox']:checked + label {
    cursor: pointer;
    padding: 0 30px;
    position: relative;
  }

  [type='checkbox']:not(:checked) + label::before,
  [type='checkbox']:checked + label::before {
    background: $white;
    border: $border-primary;
    border-radius: $border-radius;
    content: '';
    height: 21px;
    offset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 21px;
  }

  // checkmark
  [type='checkbox']:not(:checked) + label::after,
  [type='checkbox']:checked + label::after {
    background: url('chrome://global/skin/in-content/check.svg') no-repeat center center; // sass-lint:disable-line no-url-domains
    content: '';
    height: 21px;
    offset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 21px;
    -moz-context-properties: fill, stroke;
    fill: $input-primary;
    stroke: none;
  }

  // checkmark changes
  [type='checkbox']:not(:checked) + label::after {
    opacity: 0;
  }

  [type='checkbox']:checked + label::after {
    opacity: 1;
  }

  // hover
  [type='checkbox'] + label:hover::before {
    border: 1px solid $input-primary;
  }

  // accessibility
  [type='checkbox']:checked:focus + label::before,
  [type='checkbox']:not(:checked):focus + label::before {
    border: 1px dotted $input-primary;
  }
}

.prefs-pane-button {
  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    fill: $fill-secondary;
    padding: 15px;
    position: fixed;
    offset-inline-end: 15px;
    top: 15px;
    z-index: 22001;

    &:hover {
      background-color: $background-secondary;
    }

    &:active {
      background-color: $background-primary;
    }
  }
}
