.top-sites-list {
  $top-sites-size: $grid-unit;
  $top-sites-border-radius: 6px;
  $inner-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  $top-sites-title-height: 30px;
  $top-sites-vertical-space: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-inline-end: -$base-gutter;

  // 5 top sites
  @media (min-width: $break-point-medium) {
    width: $wrapper-max-width-medium + $base-gutter;
  }

  // 6 top sites
  @media (min-width: $break-point-large) {
    width: $wrapper-max-width-large + $base-gutter;
  }

  li {
    display: inline-block;
    margin: 0 0 $top-sites-vertical-space;
    margin-inline-end: $base-gutter;
  }

  // container for context menu
  .top-site-outer {
    position: relative;

    > a {
      display: block;
      color: inherit;
      outline: none;

      &.active, &:focus {
        .tile {
          box-shadow: inset $inner-box-shadow, 0 0 0 5px $faintest-black;
          transition: box-shadow 150ms;
        }
      }
    }

    .context-menu-button {
      cursor: pointer;
      position: absolute;
      top: -($context-menu-button-size / 2);
      offset-inline-end: -($context-menu-button-size / 2);
      width: $context-menu-button-size;
      height: $context-menu-button-size;
      background-color: $white;
      background-image: url('#{$image-path}glyph-more-16.svg');
      background-position: 65%;
      background-repeat: no-repeat;
      background-clip: padding-box;
      border: $context-menu-button-border;
      border-radius: 100%;
      box-shadow: $context-menu-button-boxshadow;
      transform: scale(0.25);
      opacity: 0;
      transition-property: transform, opacity;
      transition-duration: 200ms;
      z-index: 399;

      &:focus, &:active {
        transform: scale(1);
        opacity: 1;
      }
    }

    &:hover, &:active, &:focus, &.active {
      .tile {
        box-shadow: inset $inner-box-shadow, 0 0 0 5px $faintest-black;
        transition: box-shadow 150ms;
      }
      .context-menu-button {
        transform: scale(1);
        opacity: 1;
      }
    }

    .tile {
      position: relative;
      height: $top-sites-size;
      width: $top-sites-size;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;

      // For letter fallback
      color: $light-grey;
      font-weight: 200;
      font-size: 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .screenshot {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;
      background-size: 250%;
      background-position: top left;
      transition: opacity 1s;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }

    .title {
      height: $top-sites-title-height;
      line-height: $top-sites-title-height;
      text-align: center;
      font-size: 11px;
      width: $top-sites-size;
      position: relative;

      .icon {
        offset-inline-start: 0;
        position: absolute;
        top: 10px;
      }

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.pinned {
        span {
          padding: 0 13px;
        }
      }
    }
  }
}
