.top-sites-list {
  $top-sites-size: $grid-unit;
  $top-sites-border-radius: 6px;
  $top-sites-title-height: 30px;
  $top-sites-vertical-space: 18px;
  $screenshot-size: cover;
  $tippy-top-size: 96px;
  $edit-menu-button-size: 25px;
  $edit-menu-button-border: 1px solid $faint-black;
  $edit-menu-button-boxshadow: 0 2px 0 $faintest-black;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-inline-end: -$base-gutter;
  margin-bottom: -$top-sites-vertical-space;

  // Two columns
  @media (max-width: $break-point-small) {
    :nth-child(2n+1) {
      @include context-menu-open-middle;
    }
    :nth-child(2n) {
      @include context-menu-open-left;
    }
  }

  // Three columns
  @media (min-width: $break-point-small) and (max-width: $break-point-medium) {
    :nth-child(3n+2), :nth-child(3n) {
      @include context-menu-open-left;
    }
  }

  // Four columns
  @media (min-width: $break-point-medium) and (max-width: $break-point-large) {
    :nth-child(4n) {
      @include context-menu-open-left;
    }
  }
  @media (min-width: $break-point-medium) and (max-width: $break-point-medium + $card-width) {
    :nth-child(4n+3) {
      @include context-menu-open-left;
    }
  }

  // Six columns
  @media (min-width: $break-point-large) and (max-width: $break-point-large + 2*$card-width) {
    :nth-child(6n) {
      @include context-menu-open-left;
    }
  }
  @media (min-width: $break-point-large) and (max-width: $break-point-large + $card-width) {
    :nth-child(6n+5) {
      @include context-menu-open-left;
    }
  }

  li {
    display: inline-block;
    margin: 0 0 $top-sites-vertical-space;
    margin-inline-end: $base-gutter;
  }

  // container for context menu
  .top-site-outer {
    position: relative;

    > a {
      display: block;
      color: inherit;
      outline: none;

      &.active, &:focus {
        .tile {
          @include fade-in;
        }
      }
    }

    @include context-menu-button;

    &:hover, &:focus, &.active {
      .tile {
        @include fade-in;
      }
      @include context-menu-button-hover;
    }

    .tile {
      position: relative;
      height: $top-sites-size;
      width: $top-sites-size;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;

      // For letter fallback
      color: $text-secondary;
      font-weight: 200;
      font-size: 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .screenshot {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;
      background-size: $screenshot-size;
      background-position: top left;
      transition: opacity 1s;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }

    .tippy-top-icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;
      background-position: center center;
      background-size: $tippy-top-size;
      background-repeat: no-repeat;
    }

    .title {
      font: message-box;
      height: 20px;
      line-height: $top-sites-title-height;
      text-align: center;
      width: $top-sites-size;
      position: relative;

      .icon {
        fill: $fill-secondary;
        offset-inline-start: 0;
        position: absolute;
        top: 10px;
      }

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.pinned {
        span {
          padding: 0 13px;
        }
      }
    }

    .edit-menu {
      background: $white;
      border: $edit-menu-button-border;
      border-radius: $edit-menu-button-size / 2;
      box-shadow: $edit-menu-button-boxshadow;
      height: $edit-menu-button-size;
      position: absolute;
      offset-inline-end: -($edit-menu-button-size / 2);
      opacity: 0;
      overflow: hidden;
      top: -($edit-menu-button-size / 2);
      transform: scale(0.25);
      transition-property: transform, opacity;
      transition-duration: 200ms;
      z-index: 1000;

      &:focus,
      &:active {
        transform: scale(1);
        opacity: 1;
      }

      button {
        border: 0;
        border-right: $edit-menu-button-border;
        background-color: $white;
        cursor: pointer;
        height: 100%;
        width: $edit-menu-button-size;

        &:hover {
          background-color: $bg-grey;
        }

        &:last-child:dir(ltr) {
          border-right: 0;
        }

        &:first-child:dir(rtl) {
          border-right: 0;
        }
      }
    }

    &:hover, &:focus, &.active {
      .edit-menu {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.edit-topsites-wrapper {
  .edit-topsites-button {
    position: absolute;
    offset-inline-end: 0;
    top: -2px;

    button {
      background: none;
      border: 0;
      color: $text-secondary;
      cursor: pointer;
      font-size: 12px;
      padding: 0;

      &:focus {
        background: $very-light-grey;
        border-bottom: dotted 1px $text-secondary;
      }
    }
  }

  .modal {
    offset-inline-start: -31px;
    position: absolute;
    top: -29px;
    width: calc(100% + 62px);
  }

  .edit-topsites-inner-wrapper {
    margin: 0;
    padding: 15px 30px;
  }

}
