.top-sites-list {
  $top-sites-size: $grid-unit;
  $top-sites-border-radius: 6px;
  $top-sites-title-height: 30px;
  $top-sites-vertical-space: 18px;
  $screenshot-size: cover;
  $tippy-top-size: 96px;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-inline-end: -$base-gutter;
  margin-bottom: -$top-sites-vertical-space;

  // Two columns
  @media (max-width: $break-point-small) {
    :nth-child(2n+1) {
      @include context-menu-open-middle;
    }
    :nth-child(2n) {
      @include context-menu-open-left;
    }
  }

  // Three columns
  @media (min-width: $break-point-small) and (max-width: $break-point-medium) {
    :nth-child(3n+2), :nth-child(3n) {
      @include context-menu-open-left;
    }
  }

  // Four columns
  @media (min-width: $break-point-medium) and (max-width: $break-point-large) {
    :nth-child(4n) {
      @include context-menu-open-left;
    }
  }
  @media (min-width: $break-point-medium) and (max-width: $break-point-medium + $card-width) {
    :nth-child(4n+3) {
      @include context-menu-open-left;
    }
  }

  // Six columns
  @media (min-width: $break-point-large) and (max-width: $break-point-large + 2*$card-width) {
    :nth-child(6n) {
      @include context-menu-open-left;
    }
  }
  @media (min-width: $break-point-large) and (max-width: $break-point-large + $card-width) {
    :nth-child(6n+5) {
      @include context-menu-open-left;
    }
  }

  li {
    display: inline-block;
    margin: 0 0 $top-sites-vertical-space;
    margin-inline-end: $base-gutter;
  }

  // container for context menu
  .top-site-outer {
    position: relative;

    > a {
      display: block;
      color: inherit;
      outline: none;

      &.active, &:focus {
        .tile {
          @include fade-in;
        }
      }
    }

    @include context-menu-button;

    &:hover, &:focus, &.active {
      .tile {
        @include fade-in;
      }
      @include context-menu-button-hover;
    }

    .tile {
      position: relative;
      height: $top-sites-size;
      width: $top-sites-size;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;

      // For letter fallback
      color: $light-grey;
      font-weight: 200;
      font-size: 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .screenshot {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;
      background-size: $screenshot-size;
      background-position: top left;
      transition: opacity 1s;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }

    .tippy-top-icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;
      background-position: center center;
      background-size: $tippy-top-size;
      background-repeat: no-repeat;
    }

    .title {
      height: $top-sites-title-height;
      line-height: $top-sites-title-height;
      text-align: center;
      font-size: 11px;
      width: $top-sites-size;
      position: relative;

      .icon {
        offset-inline-start: 0;
        position: absolute;
        top: 10px;
      }

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.pinned {
        span {
          padding: 0 13px;
        }
      }
    }
  }
}
