.top-sites-list {
  $top-sites-size: $grid-unit;
  $top-sites-border-radius: 6px;
  $top-sites-title-height: 30px;
  $top-sites-vertical-space: 18px;
  $screenshot-size: cover;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-inline-end: -$base-gutter;

  // 5 top sites
  @media (min-width: $break-point-medium) {
    width: $wrapper-max-width-medium + $base-gutter;
  }

  // 6 top sites
  @media (min-width: $break-point-large) {
    width: $wrapper-max-width-large + $base-gutter;
  }

  li {
    display: inline-block;
    margin: 0 0 $top-sites-vertical-space;
    margin-inline-end: $base-gutter;
  }

  // container for context menu
  .top-site-outer {
    position: relative;

    > a {
      display: block;
      color: inherit;
      outline: none;

      &.active, &:focus {
        .tile {
          @include fade-in;
        }
      }
    }

    @include context-menu-button;

    &:hover, &:focus, &.active {
      .tile {
        @include fade-in;
      }
      @include context-menu-button-hover;
    }

    .tile {
      position: relative;
      height: $top-sites-size;
      width: $top-sites-size;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;

      // For letter fallback
      color: $light-grey;
      font-weight: 200;
      font-size: 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .screenshot {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;
      background-size: $screenshot-size;
      background-position: top left;
      transition: opacity 1s;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }

    .title {
      height: $top-sites-title-height;
      line-height: $top-sites-title-height;
      text-align: center;
      font-size: 11px;
      width: $top-sites-size;
      position: relative;

      .icon {
        offset-inline-start: 0;
        position: absolute;
        top: 10px;
      }

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.pinned {
        span {
          padding: 0 13px;
        }
      }
    }
  }
}
