.top-sites-list {
  $top-sites-size: $grid-unit;
  $top-sites-border-radius: 6px;
  $top-sites-title-height: 30px;
  $top-sites-vertical-space: 8px;
  $screenshot-size: cover;
  $rich-icon-size: 96px;
  $edit-menu-button-size: 25px;
  $default-icon-wrapper-size: 42px;
  $default-icon-size: 32px;
  $default-icon-offset: 6px;

  list-style: none;
  margin: 0;
  // Take back the margin from the bottom row of vertical spacing as well as the
  // extra whitespace below the title text as it's vertically centered.
  margin-bottom: -($top-sites-vertical-space + $top-sites-title-height/3);
  padding: 0;
  margin-inline-end: -$base-gutter;

  // Two columns
  @media (max-width: $break-point-small) {
    :nth-child(2n+1) {
      @include context-menu-open-middle;
    }
    :nth-child(2n) {
      @include context-menu-open-left;
    }
  }

  // Three columns
  @media (min-width: $break-point-small) and (max-width: $break-point-medium) {
    :nth-child(3n+2), :nth-child(3n) {
      @include context-menu-open-left;
    }
  }

  // Four columns
  @media (min-width: $break-point-medium) and (max-width: $break-point-large) {
    :nth-child(4n) {
      @include context-menu-open-left;
    }
  }
  @media (min-width: $break-point-medium) and (max-width: $break-point-medium + $card-width) {
    :nth-child(4n+3) {
      @include context-menu-open-left;
    }
  }

  // Six columns
  @media (min-width: $break-point-large) and (max-width: $break-point-large + 2*$card-width) {
    :nth-child(6n) {
      @include context-menu-open-left;
    }
  }
  @media (min-width: $break-point-large) and (max-width: $break-point-large + $card-width) {
    :nth-child(6n+5) {
      @include context-menu-open-left;
    }
  }

  li {
    display: inline-block;
    margin: 0 0 $top-sites-vertical-space;
    margin-inline-end: $base-gutter;
  }

  // container for context menu
  .top-site-outer {
    position: relative;

    > a {
      display: block;
      color: inherit;
      outline: none;

      &.active, &:focus {
        .tile {
          @include fade-in;
        }
      }
    }

    @include context-menu-button;

    &:hover, &:focus, &.active {
      .tile {
        @include fade-in;
      }
      @include context-menu-button-hover;
    }

    .tile {
      position: relative;
      height: $top-sites-size;
      width: $top-sites-size;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow, $shadow-secondary;

      // For letter fallback
      color: $text-secondary;
      font-weight: 200;
      font-size: 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.placeholder {
      .tile {
        box-shadow: inset $inner-box-shadow;
      }
      .screenshot {
        display: none;
      }
    }

    .screenshot {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;
      background-size: $screenshot-size;
      background-position: top left;
      transition: opacity 1s;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }

    // Some common styles for all icons (rich and default) in top sites
    .top-site-icon {
      position: absolute;
      border-radius: $top-sites-border-radius;
      box-shadow: inset $inner-box-shadow;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $background-primary;
    }

    .rich-icon {
      top: 0;
      offset-inline-start: 0;
      height: 100%;
      width: 100%;
      background-size: $rich-icon-size;
    }

    .default-icon {
      z-index: 1;
      top: -$default-icon-offset;
      offset-inline-start: -$default-icon-offset;
      height: $default-icon-wrapper-size;
      width: $default-icon-wrapper-size;
      background-size: $default-icon-size;

      // for corner letter fallback
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

    .title {
      font: message-box;
      height: $top-sites-title-height;
      line-height: $top-sites-title-height;
      text-align: center;
      width: $top-sites-size;
      position: relative;

      .icon {
        fill: $fill-tertiary;
        offset-inline-start: 0;
        position: absolute;
        top: 10px;
      }

      span {
        height: $top-sites-title-height;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.pinned {
        span {
          padding: 0 13px;
        }
      }
    }

    .edit-menu {
      background: $white;
      border: $border-primary;
      border-radius: $edit-menu-button-size / 2;
      box-shadow: $context-menu-button-boxshadow;
      height: $edit-menu-button-size;
      position: absolute;
      offset-inline-end: -($edit-menu-button-size / 2);
      opacity: 0;
      overflow: hidden;
      top: -($edit-menu-button-size / 2);
      transform: scale(0.25);
      transition-property: transform, opacity;
      transition-duration: 200ms;
      z-index: 1000;

      &:focus,
      &:active {
        transform: scale(1);
        opacity: 1;
      }

      button {
        border: 0;
        border-right: $border-primary;
        background-color: $white;
        cursor: pointer;
        height: 100%;
        width: $edit-menu-button-size;

        &:hover {
          background-color: $background-secondary;
        }

        // These are specific styles for the icons we have picked,
        // they may need to be adjusted if the icons change
        &:first-child:dir(ltr),
        &:last-child:dir(rtl) {
          width: $edit-menu-button-size + 5px;
        }
        &:last-child:dir(ltr),
        &:first-child:dir(rtl) {
          width: $edit-menu-button-size + 3px;
        }

        &:last-child:dir(ltr) {
          border-right: 0;
        }

        &:first-child:dir(rtl) {
          border-right: 0;
        }
      }
    }

    &:hover, &:focus, &.active {
      .edit-menu {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.edit-topsites-wrapper {
  .edit-topsites-button {
    position: absolute;
    offset-inline-end: 0;
    top: -2px;

    button {
      background: none;
      border: 0;
      color: $text-secondary;
      cursor: pointer;
      font-size: 12px;
      padding: 0;

      &:focus {
        background: $background-secondary;
        border-bottom: dotted 1px $text-secondary;
      }
    }
  }

  .modal {
    offset-inline-start: -31px;
    position: absolute;
    top: -29px;
    width: calc(100% + 62px);
    box-shadow: $shadow-secondary;
  }

  .edit-topsites-inner-wrapper {
    margin: 0;
    padding: 15px 30px;
  }

  .show-more,
  .show-less {
    background-position: left 10px center;
    background-repeat: no-repeat;
    height: auto;
    margin-inline-start: 10px;
    padding-inline-end: 15px;
    width: auto;

    &:dir(rtl) {
      background-position: right 10px center;
    }

    span {
      padding-inline-start: 3px;
    }
  }
}

.topsite-form {
  .form-wrapper {
    padding: 15px 0;

    .field {
      margin-inline-start: 205px;
      position: relative;
    }

    .section-title {
      margin-bottom: 5px;
      margin-inline-start: 205px;
    }

    input {
      &[type='text'] {
        border: $input-border;
        border-radius: 2px;
        margin: 5px 0;
        padding: 7px;
        width: 350px;

        &:focus {
          border: $input-border-active;
        }

        &::placeholder {
          font-style: italic;
        }
      }
    }

    .invalid {
      input {
        &[type='text'] {
          border: $input-error-border;
          box-shadow: $input-error-boxshadow;
        }
      }
    }

    .error-tooltip {
      animation: fade-up-tt 450ms;
      background: $red-60;
      border-radius: 2px;
      color: $white;
      offset-inline-start: 3px;
      padding: 5px 12px;
      position: absolute;
      top: 44px;
      z-index: 1;

      // tooltip caret
      &::before {
        background: $red-60;
        bottom: -8px;
        content: '.';
        height: 16px;
        offset-inline-start: 12px;
        position: absolute;
        text-indent: -999px;
        top: -7px;
        transform: rotate(45deg);
        white-space: nowrap;
        width: 16px;
        z-index: -1;
      }
    }
  }

  .actions {
    justify-content: flex-end;

    button {
      margin-inline-start: 10px;
      margin-inline-end: 0;
    }
  }
}

//used for tooltips below form element
@keyframes fade-up-tt {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
