.top-sites-list {
  $top-sites-size: 96px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, $top-sites-size);
  grid-gap: $base-gutter;
  a {
    background: $white;
    height: $top-sites-size;
    width: $top-sites-size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
  }
}
