.new-tab-wrapper {
  width: 100%;
  max-width: $wrapper-max-width;
  margin: 0 auto;
}

.bottom-links-container {
  text-align: left;

  .link-wrapper-right {
    float: right;
    position: relative;
  }

  .context-menu {
    top: auto;
    bottom: 100%;
  }
}

.bottom-link {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  border: 1px solid $faintest-black;
  border-radius: 3px;
  padding: 8px 13px;
  color: $light-grey;

  &.expand {
    border-color: transparent;

    .text {
      display: none;
    }

    &:hover,
    &.active {
      border-color: $faintest-black;

      .text {
        display: inline;
      }
    }
  }

  .icon {
    float: left;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin-right: 8px;
    opacity: 0.4;

    &.timeline {
      background-image: url('img/glyph-activityStream-16.svg');
    }

    &.settings {
      background-image: url('img/glyph-settings-16.svg');
    }
  }

  &:hover,
  &.active {
    background: $very-light-grey;
    color: inherit;

    .icon {
      opacity: 1;
    }
  }
}

.debug-link {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: $link-blue;
  color: $white;
  opacity: 0;
  z-index: 1000;
  font-size: 10px;
  transition: 0.2s 0.2s opacity ease;

  &:hover {
    color: $white;
    opacity: 1;
  }
}
