.new-tab-wrapper {
  width: 100%;
  max-width: $wrapper-max-width;
  margin: 0 auto;
}

.timeline-link-container {
  text-align: left;
}
.timeline-link {
  font-size: 12px;
  border: 1px solid $faintest-black;
  border-radius: 3px;
  padding: 4px 16px;
  color: $light-grey;
  &:hover {
    background: $very-light-grey;
    color: inherit;
  }
}

.debug-link {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: $link-blue;
  color: $white;
  opacity: 0;
  z-index: 1000;
  font-size: 10px;
  transition: 0.2s 0.2s opacity ease;

  &:hover {
    color: $white;
    opacity: 1;
  }
}
