#base {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
  flex-grow: 1;
  display: flex;
}

.section-title {
  color: $light-grey;
  font-size: 14px;
  font-weight: normal;
}
