#base,
.outer-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 20px;

  section {
    margin-bottom: $section-margin;
  }
}

.section-title {
  color: $section-title-color;
  font-size: $section-title-font-size;
  font-weight: bold;
  margin: 0 0 $section-title-bottom-margin;
  text-transform: uppercase;
}
