#base {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.section-title {
  color: $light-grey;
  font-size: 14px;
  font-weight: normal;
}
