@import './styles/normalize';
@import './styles/variables';

html,
body,
#root {
  height: 100%;
}

body {
  background: $bg-color;
  color: $dark-grey;
  // TODO: actually figure out system font here
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-weight: normal;
}

a {
  color: $link-blue;
  text-decoration: none;

  &:hover {
    color: lighten($link-blue, 10%);
  }
}

.fa.fa-timeline {
  background-image: url('img/list-icon.svg');
  height: 14px;
  vertical-align: middle;
  width: 16px;
}

.inner-border {
  border: 1px solid $faint-black;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

// Components
@import './components/Header/Header';
@import './components/Base/Base';
@import './components/TopSites/TopSites';
@import './components/ActivityFeed/ActivityFeed';
@import './components/Spotlight/Spotlight';
@import './components/NewTabPage/NewTabPage';
@import './components/TimelinePage/TimelinePage';
@import './components/SiteIcon/SiteIcon';
@import './components/Search/Search';
@import './components/DebugPage/DebugPage';
