@import './styles/normalize';
@import './styles/variables';

html,
body,
#root {
  height: 100%;
}

body {
  // TODO: actually figure out system font here
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  background: $bg-grey;
  color: $dark-grey;
}

a {
  color: $link-blue;
  text-decoration: none;
  &:hover {
    color: lighten($link-blue, 10%);
  }
}


// Components
@import './components/Header/Header';
@import './components/Base/Base';
@import './components/TopSites/TopSites';
@import './components/ActivityFeed/ActivityFeed';
@import './components/NewTabPage/NewTabPage';
@import './components/TimelinePage/TimelinePage';
