.context-menu {
  display: block;
  position: absolute;
  font-size: $context-menu-font-size;
  box-shadow: $context-menu-shadow;
  top: ($context-menu-button-size / 4);
  offset-inline-start: 100%;
  margin-inline-start: 5px;
  z-index: 10000;
  background: $background-primary;
  border-radius: $context-menu-border-radius;

  > ul {
    margin: 0;
    padding: $context-menu-outer-padding 0;
    list-style: none;

    > li {
      margin: 0;
      width: 100%;

      &.separator {
        margin: $context-menu-outer-padding 0;
        border-bottom: 1px solid $context-menu-border-color;
      }

      > a {
        outline: none;
        cursor: pointer;
        color: inherit;
        white-space: nowrap;
        padding: $context-menu-item-padding;
        line-height: 16px;
        display: flex;
        align-items: center;

        &:hover,
        &:focus {
          background: $input-primary;
          color: $white;

          a {
            color: $grey-90;
          }

          .icon {
            fill: $white;
          }

          &:hover,
          &:focus {
            color: $white;
          }
        }
      }
    }
  }
}
