.ds-navigation {

  &.ds-navigation-centered {
    text-align: center;
  }

  &.ds-navigation-right-aligned {
    text-align: right;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;

    &::after {
      content: '•';
      padding: 8px;
    }

    &:last-child::after {
      content: none;
    }

    a {
      &:hover {
        // text-decoration: underline; didn't quite match comps.
        border-bottom: 1px solid var(--newtab-link-primary-color);

        &:active,
        &:visited {
          border-bottom: 1px solid $blue-70;
        }
      }

      &:active,
      &:visited {
        color: $blue-70;

        &.ds-more-recommendations::after {
          fill: $blue-70;
        }
      }
    }
  }

  .ds-more-recommendations::after {
    background: url('../data/content/assets/topic-show-more-12.svg') no-repeat center center;
    content: '';
    -moz-context-properties: fill;
    fill: var(--newtab-link-primary-color);
    display: inline-block;
    height: 16px;
    margin-inline-start: 5px;
    vertical-align: top;
    width: 12px;
  }
}
