.SimpleBelowSearchSnippet {
  background-color: inherit;
  border: 0;
  box-shadow: none;
  position: relative;
  z-index: auto;

  .innerWrapper {
    padding-inline-start: 5px;
    width: 100%;
  }
}
