.sections-list {

  .section-top-bar {
    position: relative;

    .section-title {
      float: left;
    }

    .section-info-option {
      float: right;
    }

    .info-option-icon {
      background-image: url('assets/glyph-info-option-12.svg');
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: center;
      height: 16px;
      width: 16px;
      display: inline-block;
    }

    .section-info-option div {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.2s ease-out;
      transition-delay: 0.3s;
    }

    .section-info-option:hover div {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.2s, opacity 0.2s ease-out;
    }

    .info-option {
      position: absolute;
      background: $white;
      border: solid 1px $faintest-black;
      border-radius: $border-radius;
      font-size: 13px;
      color: $info-option-text-color;
      line-height: 120%;
      width: 320px;
      right: 0;
      top: 34px;
      margin-top: -4px;
      margin-right: -4px;
      padding: 24px;
      user-select: none;
      -moz-user-select: none;
    }

    .info-option-header {
      font-size: 15px;
      font-weight: 600; /* Semi-bold */
    }

    .info-option-body {
      margin: 0;
      margin-top: 12px;
    }

    .info-option-link {
      display: block;
      margin-top: 12px;
      color: $info-option-link-color;
    }

  }

  .section-list {
    clear: both;
    margin: 0;
  }

}
