.sections-list {
  .section-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, $card-width);
    grid-gap: $base-gutter;

    @media (max-width: $break-point-medium) {
      @include context-menu-open-left;
    }

    @media (min-width: $break-point-medium) and (max-width: $break-point-large) {
      :nth-child(2n) {
        @include context-menu-open-left;
      }
    }

    @media (min-width: $break-point-large) and (max-width: $break-point-large + 2*$card-width) {
      :nth-child(3n) {
        @include context-menu-open-left;
      }
    }
  }

  .section-empty-state {
    width: 100%;
    height: $card-height;
    display: flex;
    border: $border-secondary;
    border-radius: $border-radius;
    margin-bottom: 16px;

    .empty-state {
      margin: auto;
      max-width: 350px;

      .empty-state-icon {
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-position: center;
        fill: $fill-secondary;
        -moz-context-properties: fill;
        height: 50px;
        width: 50px;
        margin: 0 auto;
        display: block;
      }

      .empty-state-message {
        margin-bottom: 0;
        font-size: 13px;
        font-weight: 300;
        color: $text-secondary;
        text-align: center;
      }
    }
  }
}
