.collapsible-section {
  .section-title {

    .click-target {
      cursor: pointer;
      vertical-align: top;
      white-space: nowrap;
    }

    .icon-arrowhead-down,
    .icon-arrowhead-forward {
      margin-top: -1px;
      margin-inline-start: 8px;
    }
  }

  .section-top-bar {
    $info-active-color: $grey-90-10;
    position: relative;

    .section-info-option {
      offset-inline-end: 0;
      position: absolute;
      top: 0;
    }

    .info-option-icon {
      background-image: url('#{$image-path}glyph-info-option-12.svg');
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: center;
      fill: $fill-secondary;
      -moz-context-properties: fill;
      height: 16px;
      width: 16px;
      display: inline-block;

      // Specific styling for the particuar icon. r=abenson
      margin-bottom: -2px;

      opacity: 0;
      transition: opacity 0.2s $photon-easing;

      &:focus, &:active {
        opacity: 1;
      }
    }

    .info-option-icon[aria-expanded="true"] {
      background-color: $info-active-color;
      border-radius: 1px; // The shadow below makes this the desired larger radius
      box-shadow: 0 0 0 5px $info-active-color;
      fill: $fill-primary;
    }

    .section-info-option .info-option {
      $arrow-height: 10px;
      $arrow-offset-end: 7px;
      $arrow-width: 18px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.2s $photon-easing;

      &::after,
      &::before {
        content: "";
        offset-inline-end: 0;
        position: absolute;
      }

      &::before {
        $before-height: 32px;
        background-image: url(chrome://global/skin/arrow/panelarrow-vertical-themed.svg), url(chrome://global/skin/arrow/panelarrow-vertical@2x.png);
        background-position: right $arrow-offset-end bottom;
        background-repeat: no-repeat;
        background-size: $arrow-width $arrow-height;
        height: $before-height;
        top: -$before-height;
        width: 43px;
      }

      &:dir(rtl)::before {
        background-position-x: $arrow-offset-end;
      }

      &::after {
        height: $arrow-height;
        offset-inline-start: 0;
        top: -$arrow-height;
      }
    }

    .info-option-icon[aria-expanded="true"] + .info-option {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.2s, opacity 0.2s $photon-easing;
    }

    .info-option-icon:not([aria-expanded="true"]) + .info-option {
      pointer-events: none;
    }

    .info-option {
      z-index: 9999;
      position: absolute;
      background: $white;
      border: $border-secondary;
      border-radius: $border-radius;
      font-size: 13px;
      line-height: 120%;
      margin-inline-end: -9px;
      offset-inline-end: 0;
      top: 26px;
      width: 320px;
      padding: 24px;
      box-shadow: $shadow-secondary;
      -moz-user-select: none;
    }

    .info-option-header {
      font-size: 15px;
      font-weight: 600;
    }

    .info-option-body {
      margin: 0;
      margin-top: 12px;
    }

    .info-option-link {
      color: $link-primary;
      margin-left: 7px;
    }

    .info-option-manage {
      margin-top: 24px;

      button {
        background: none;
        border: none;
        color: $link-primary;
        cursor: pointer;
        margin: 0;
        padding: 0;

        &::after {
          background-image: url('#{$image-path}topic-show-more-12.svg');
          background-repeat: no-repeat;
          content: '';
          -moz-context-properties: fill;
          display: inline-block;
          fill: $link-primary;
          height: 16px;
          margin-inline-start: 5px;
          margin-top: 1px;
          vertical-align: middle;
          width: 12px;
        }

        &:dir(rtl)::after  {
          transform: scaleX(-1);
        }
      }
    }
  }

  .section-disclaimer {
    color: $grey-60;
    font-size: 13px;
    margin-bottom: 16px;
    position: relative;

    .section-disclaimer-text {
      display: inline-block;

      @media (min-width: $break-point-small) {
        width: $card-width;
      }

      @media (min-width: $break-point-medium) {
        width: 340px;
      }

      @media (min-width: $break-point-large) {
        width: 610px;
      }
    }

    a {
      color: $link-secondary;
      padding-left: 3px;
    }

    button {
      margin-top: 2px;
      offset-inline-end: 0;
      min-height: 26px;
      max-width: 130px;

      background: $grey-10;
      border: 1px solid $grey-40;
      border-radius: 4px;
      cursor: pointer;

      &:hover:not(.dismiss) {
        box-shadow: $shadow-primary;
        transition: box-shadow 150ms;
      }

      @media (min-width: $break-point-small) {
        position: absolute;
      }
    }
  }

  .section-body {
    // max-height needs to be set to a value larger than it will ever reasonably get.
    // We then transition on max-height, since we can't transition height to/from auto.
    max-height: 1100px;

    // This is so the top sites favicon and card dropshadows don't get clipped during animation:
    $horizontal-padding: 7px;
    margin: 0 (-$horizontal-padding);
    padding: 0 $horizontal-padding;

    &.animating {
      overflow: hidden;
    }
  }

  &.animation-enabled {
    .section-title {
      .icon-arrowhead-down,
      .icon-arrowhead-forward {
        transition: transform 0.5s $photon-easing;
      }
    }

    .section-body {
      transition: max-height 0.5s $photon-easing;
    }
  }

  &.collapsed {
    .section-body {
      max-height: 0;
      overflow: hidden;
    }

    .section-info-option {
      pointer-events: none;
    }
  }

  &:not(.collapsed):hover {
    .info-option-icon {
      opacity: 1;
    }
  }
}
