.collapsible-section {
  .section-title {

    .click-target {
      cursor: pointer;
      vertical-align: top;
      white-space: nowrap;
    }

    .icon-arrowhead-down,
    .icon-arrowhead-forward {
      margin-inline-start: 8px;
      margin-top: -1px;
    }
  }

  .section-top-bar {
    position: relative;
  }

  .section-disclaimer {
    $max-button-width: 130px;
    $min-button-height: 26px;

    color: $grey-60;
    font-size: 13px;
    margin-bottom: 16px;
    position: relative;

    .section-disclaimer-text {
      display: inline-block;
      min-height: $min-button-height;
      width: calc(100% - #{$max-button-width});

      @media (max-width: $break-point-medium) {
        width: $card-width;
      }
    }

    a {
      color: $link-secondary;
      padding-left: 3px;
    }

    button {
      background: $grey-10;
      border: 1px solid $grey-40;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 2px;
      max-width: $max-button-width;
      min-height: $min-button-height;
      offset-inline-end: 0;

      &:hover:not(.dismiss) {
        box-shadow: $shadow-primary;
        transition: box-shadow 150ms;
      }

      @media (min-width: $break-point-small) {
        position: absolute;
      }
    }
  }

  .section-body-fallback {
    height: $card-height;
  }

  .section-body {
    // This is so the top sites favicon and card dropshadows don't get clipped during animation:
    $horizontal-padding: 7px;
    margin: 0 (-$horizontal-padding);
    padding: 0 $horizontal-padding;

    &.animating {
      overflow: hidden;
      pointer-events: none;
    }
  }

  &.animation-enabled {
    .section-title {
      .icon-arrowhead-down,
      .icon-arrowhead-forward {
        transition: transform 0.5s $photon-easing;
      }
    }

    .section-body {
      transition: max-height 0.5s $photon-easing;
    }
  }

  &.collapsed {
    .section-body {
      max-height: 0;
      overflow: hidden;
    }
  }
}
