.SimpleSnippet {
  .title {
    display: inline;
    font-size: inherit;
    margin: 0;
  }

  .body {
    display: inline;
    margin: 0;
  }

  .icon {
    height: 42px;
    width: 42px;
    margin-inline-end: 12px;
    flex-shrink: 0;
  }

  .ASRouterAnchor {
    color: inherit;
    text-decoration: underline;
  }
}
