main.timeline {
  margin-top: 50px;
  padding: 0;
  overflow: hidden;

  .wrapper {
    margin-left: 20px;
    max-width: $timeline-max-width;
  }

  nav.sidebar {
    background: $navy;
    color: $light-navy;
    display: block;
    flex-shrink: 0;
    position: fixed;
    height: 100%;
    width: $header-nav-width;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      background: none;
      border-left: 4px solid transparent;
      color: inherit;
      display: flex;
      padding: 15px;

      .icon {
        margin-right: 10px;
        height: 18px;
        width: 18px;
        display: inline-block;
        background: transparent no-repeat center center;
        background-size: 18px;

        &.firefox {
          background-image: url('img/glyph-firefox-16.svg');
        }

        &.star {
          background-image: url('img/glyph-bookmark-16-white.svg');
          background-size: 14px;
        }
      }

      &.active,
      &:hover {
        background: darken($navy, 8%);
      }

      &.active {
        border-color: $sidebar-active-item-border-color;
      }
    }
  }

  section.content {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    background: $bg-grey;
    margin-bottom: 0;
    margin-left: $header-nav-width;

    .infinite-scroll {
      margin-top: $base-gutter / 2;
      margin-left: $feed-gutter-h;
    }
  }
}
