main.timeline {
  padding: 0;
  .wrapper {
    max-width: $timeline-max-width;
    margin-left: 20px;
  }
  nav.sidebar {
    color: #888B92;
    display: block;
    width: $header-nav-width;
    background: $navy;
    flex-shrink: 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      display: block;
      background: none;
      color: inherit;
      padding: 15px;
      border-left: 4px solid transparent;

      .fa {
        color: white;
        margin-right: 10px;
      }

      &.active,
      &:hover {
        background: darken($navy, 8%);
      }
      &.active {
        border-color: #E14164;
      }
    }
  }
  section.content {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
