main.timeline {
  padding: 0;

  .wrapper {
    margin-left: 20px;
    max-width: $timeline-max-width;
  }

  nav.sidebar {
    background: $navy;
    color: $light-navy;
    display: block;
    flex-shrink: 0;
    width: $header-nav-width;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      background: none;
      border-left: 4px solid transparent;
      color: inherit;
      display: block;
      padding: 15px;

      .fa {
        color: $white;
        margin-right: 10px;
      }

      &.active,
      &:hover {
        background: darken($navy, 8%);
      }

      &.active {
        border-color: $sidebar-active-item-border-color;
      }
    }
  }

  section.content {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
  }
}
