
.under-construction {
  background-image: url('chrome://browser/content/illustrations/under-construction.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  min-width: 300px;
  margin-top: 10%;
}
