.video-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black no-repeat center center;
  width: 367px;
  height: 206px;
  border-radius: 6px;
  transition: 0.2s opacity;
  overflow: hidden;
  margin-top: 20px;

  &::after {
    content: '';
    width: 65px;
    height: 40px;
    background: url('img/playButton@2x.png') no-repeat center center;
    background-size: 65px 40px;
    display: block;
  }

  &:hover::after {
    background-image: url('img/playButton-hover@2x.png');
  }

  &.isPlaying::after {
    display: none;
  }
}

.video-preview-player {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
