.highlight-context {
  padding: $spotlight-padding;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $light-grey;
  font-size: 11px;
  overflow: hidden;
  display: flex;
  align-items: center;
  .hc-icon {
    opacity: 0.5;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-right: 6px;
  }
  .hc-label {
    flex-grow: 1;
  }
  .hc-timestamp {
  }
}
