.highlight-context {
  padding: 16px 16px 14px 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $light-grey;
  font-size: 11px;
  display: flex;
  align-items: center;

  // Only display a placeholder version (ie just outlines/shapes), for use
  // before sufficient data is available to display.
  &.placeholder {
    .hc-icon {
      background-color: $placeholder-grey;
      opacity: 1;

      .icon {
        background-image: none;
      }
    }

    .hc-label {
      background-color: $placeholder-grey;
      color: $placeholder-grey;
      height: 16px;
    }
  }

  .hc-icon {
    opacity: 0.5;
    font-size: 13px;
    margin-inline-end: 6px;

    .icon {
      display: block;
    }
  }

  .hc-label {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
