$migration-spacing: 12px;

.manual-migration-container {
  background: $background-secondary;
  border: $border-secondary;
  box-shadow: $shadow-secondary;
  font-size: 13px;
  border-radius: 2px;
  margin-bottom: $section-spacing;
  padding: $migration-spacing 0;
  text-align: center;

  @media (min-width: $break-point-medium) {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  p {
    margin: 0 $migration-spacing;
    @media (min-width: $break-point-medium) {
      align-self: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .icon {
    display: none;
    @media (min-width: $break-point-medium) {
      display: block;
      fill: $fill-secondary;
      margin: 0;
      margin-inline-end: $migration-spacing;
      align-self: center;
    }
  }
}

.manual-migration-actions {
  border: none;
  display: block;
  padding: $migration-spacing 0 0;
  line-height: 34px;

  @media (min-width: $break-point-medium) {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  button {
    align-self: center;
    height: 24px;
    margin-inline-end: $migration-spacing;
    font-size: 13px;
    min-width: 100px;
    padding: 0 $migration-spacing;
    white-space: nowrap;
  }
}
