.ds-message {
  margin: 8px 0 0;

  .title {
    display: flex;
    align-items: center;

    .glyph {
      width: 16px;
      height: 16px;
      margin: 0 6px 0 0;
      -moz-context-properties: fill;
      fill: var(--newtab-icon-secondary-color);
      background-position: center center;
      background-size: 16px;
      background-repeat: no-repeat;
    }

    span {
      line-height: 20px;
      font-size: 13px;
      color: $grey-50;
      font-weight: 600;
    }
  }

  .subtitle {
    line-height: 20px;
    font-size: 13px;
    color: $grey-50;
    margin: 0;

    span::after {
      content: ' ';
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }
}
