.debug-page {
  section {
    clear: both;
  }

  .btn {
    color: $dark-grey;
    border: 1px solid $dark-grey;
    padding: 5px 10px;
    border-radius: 8px;
  }

  label {
    display: block;
  }

  textarea {
    width: 100%;
    height: 500px;
  }

  .ui-tester {
    display: flex;
    margin-bottom: 20px;

    .form-group {
      margin-right: 20px;
    }
  }

  .new-tab-wrapper {
    max-width: 1000px;

    .spotlight-item {
      float: left;
      margin-bottom: 12px;
    }

    .top-sites {

      .tiles-wrapper {
        display: block;
      }

      .tile {
        float: left;
        margin-bottom: 12px;
      }
    }
  }
}

.json-inspector,
.json-inspector__selection {
  font: 14px/1.4 Consolas, monospace;
}

.json-inspector__leaf {
  padding-left: 10px;
}

.json-inspector__line {
  display: block;
  position: relative;
  cursor: default;
}

.json-inspector__line::after {
  content: '';
  position: absolute;
  top: 0;
  left: -200px;
  right: -50px;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.json-inspector__line:hover::after {
  background: $faintest-black;
}

.json-inspector__leaf_composite > .json-inspector__line {
  cursor: pointer;
}

.json-inspector__radio,
.json-inspector__flatpath {
  display: none;
}

.json-inspector__value {
  margin-left: 5px;
}

.json-inspector__search {
  min-width: 300px;
  margin: 0 10px 10px 0;
  padding: 2px;
}

.json-inspector__key {
  color: $mid-grey;
}

.json-inspector__value_helper,
.json-inspector__value_null,
.json-inspector__not-found {
  color: $light-grey;
}

.json-inspector__value_string {
  color: $green;
}

.json-inspector__value_boolean {
  color: $link-blue;
}

.json-inspector__value_number {
  color: $pink;
}

.json-inspector__hl {
  background: $bg-grey;
  box-shadow: 0 -1px 0 2px $bg-grey;
  border-radius: 2px;
}

.json-inspector__show-original {
  display: inline-block;
  padding: 0 6px;

  color: $dark-grey;
  cursor: pointer;
}

.json-inspector__show-original:hover {
  color: $dark-grey;
}

.json-inspector__show-original::before {
  content: '⥂';
}

.json-inspector__show-original:hover::after {
  content: ' expand';
}
