.loader {
  margin: auto;

  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $loader-popup-background-color;

  min-height: 200px; // don't crop the foxfinder graphic
  min-width: 420px;
  width: 420px;
  font-size: 12px;
  line-height: 1.7;

  border: 1px solid $loader-border-color;
  border-radius: $loader-border-radius;
  box-shadow: 0 5px 10px $faintest-black;

  // keep things centered on the viewport and in front of everything else
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $loader-z-index;

  background-image: url('#{$image-path}foxfinder@2x.png');
  background-position: right;
  background-size: 35%; // XXX resize the original?
  background-repeat: no-repeat;

  h3 {
    color: $loader-title-color;
    font-size: $loader-title-font-size;
    line-height: 1.4;
    font-weight: 500;
    margin: 0 0 5px;
    max-width: 322px; // text shouldn't overwrite top of the finderfox graphic
  }

  p {
    // Since this is the only flexible child of loader, it will get all
    // the free space after the text (which pushes the status-box to the bottom)
    flex: 1 1 auto; // since this is
    margin: 0 100px 15px 0;
    max-width: 247px; // test shouldn't overwrite side of finderfox graphic

    color: $loader-body-color;
  }

  .status-box {
    display: flex;
    align-items: center;
    color: $loader-status-text-color;
    line-height: 1.8;

    .spinner {
      flex-shrink: 0;
      margin-right: 10px;
      width: $loader-spinner-size;
      height: $loader-spinner-size;
      display: inline-block;
      background-image: url('#{$image-path}loading@2x.png');
      background-size: $loader-spinner-size $loader-spinner-size;
    }
  }
}
