.loader {
  color: $light-grey;
  display: flex;
  align-items: center;
  font-size: 13px;

  &.centered {
    justify-content: center;
  }

  .spinner {
    flex-shrink: 0;
    margin-right: 10px;
    width: $loader-size;
    height: $loader-size;
    display: inline-block;
    background-image: url('#{$image-path}loading@2x.png');
    background-size: $loader-size $loader-size;
  }
}
