.head {
  align-items: center;
  background: #f5f6f7;
  border-bottom: solid 1px #dfe0e1;
  display: flex;
  line-height: 30px;
  padding: 5px;

  section {
    display: flex;

    &.nav {
      border-right: solid 1px #dfe0e1;
      width: 200px;
    }

    &.filters {
      flex-grow: 1;
      padding: 0 20px;

      .textbox-wrap {
        background: #fff;
        border: solid 1px #e5e5e5;
        border-radius: 5px;
      }

      input {
        border: none;
        padding: 0 5px;
        width: 300px;
      }
    }

    &.user-info {
      span {
        padding: 0 10px;
      }

      img {
        border-radius: 15px;
        height: 30px;
      }
    }
  }
}
