.collapsible-section {
  .section-title {
    cursor: pointer;

    .icon {
      margin: -5px 0 0 8px;

      &.icon-arrowhead-forward {
        margin-top: -4px;
      }
    }
  }

  .section-body {
    // max-height needs to be set to a value larger than it will ever reasonably get.
    // We then transition on max-height, since we can't transition height to/from auto.
    max-height: 500px;
    transition: max-height 0.5s cubic-bezier(0.07, 0.95, 0, 1);

    &.animating {
      overflow: hidden;
    }
  }

  &.collapsed {
    .section-body {
      max-height: 0;
      overflow: hidden;
    }
  }
}
