.trailhead {
  $benefit-icon-size: 64px;
  $benefit-icon-spacing: $benefit-icon-size + 20px;

  background: url('#{$image-path}trailhead/accounts-form-bg.jpg') 100% 100%;
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
  }

  input,
  button {
    border-radius: 4px;
    padding: 10px;
  }

  .trailheadInner {
    $content-spacing: 40px;

    display: grid;
    grid-column-gap: $content-spacing;
    grid-template-columns: 3fr 2fr;
    padding: $content-spacing;
  }

  .trailheadContent {
    h1 {
      margin: 0;
    }

    .trailheadLearn {
      margin-inline-start: $benefit-icon-spacing;
    }
  }

  .trailheadBenefits {
    padding: 0;

    li {
      background-position: top left;
      background-repeat: no-repeat;
      background-size: $benefit-icon-size;
      -moz-context-properties: fill;
      fill: $blue-50;
      list-style: none;
      padding-inline-start: $benefit-icon-spacing;

      &:dir(rtl) {
        background-position-x: right;
      }

      &.knowledge {
        background-image: url('#{$image-path}trailhead/benefit-knowledge.png');
      }

      &.privacy {
        background-image: url('#{$image-path}trailhead/benefit-privacy.png');
      }

      &.products {
        background-image: url('#{$image-path}trailhead/benefit-products.png');
      }
    }

    h3 {
      color: $purple-40;
    }

    p {
      color: $white;
    }
  }

  .trailheadForm {
    $logo-size: 100px;

    background: url('#{$image-path}trailhead/firefox-logo.png') top center / $logo-size no-repeat;
    padding-top: $logo-size;
    text-align: center;

    button,
    input {
      border: 0;
      width: 100%;
    }

    input {
      background-color: $white;
      color: $grey-70;
    }

    button {
      background-color: $blue-60;
    }
  }

  .trailheadStart {
    border: 1px solid $white;
    display: block;
    margin: auto;
    min-width: 33%;
  }
}

.trailheadCards {
  background: var(--trailhead-cards-background-color);
  text-align: center;

  h1 {
    font-size: 36px;
    font-weight: 200;
    margin: 0 0 40px;
    color: var(--trailhead-header-text-color);
  }
}

.trailheadCardsInner {
  margin: auto;
  padding: 40px $section-horizontal-padding;

  @media (min-width: $break-point-medium) {
    width: $wrapper-max-width-medium;
  }

  @media (min-width: $break-point-large) {
    width: $wrapper-max-width-large;
  }

  @media (min-width: $break-point-widest) {
    width: $wrapper-max-width-widest;
  }

}

.trailheadCardGrid {
  display: grid;
  grid-gap: $base-gutter;
  margin: 0;

  @media (min-width: $break-point-medium) {
    grid-template-columns: repeat(auto-fit, $card-width);
  }

  @media (min-width: $break-point-widest) {
    grid-template-columns: repeat(auto-fit, $card-width-large);
  }
}

.trailheadCard {
  position: relative;
  background: var(--newtab-card-background-color);
  border-radius: 4px;
  box-shadow: var(--newtab-card-shadow);

  font-size: 13px;
  padding: 20px;

  @media (min-width: $break-point-widest) {
    font-size: 15px;
    padding: 40px;
  }

  .onboardingTitle {
    font-weight: normal;
    color: var(--newtab-text-primary-color);
    margin: 10px 0;
    font-size: 15px;

    @media (min-width: $break-point-widest) {
      font-size: 18px;
    }
  }

  .onboardingText {
    margin: 0 0 60px;
    color: var(--newtab-text-conditional-color);
    line-height: 1.5;
    font-weight: 200;
  }

  .onboardingButton {
    color: var(--newtab-text-conditional-color);
    background: var(--trailhead-card-button-background-color);
    border: 0;
    height: 30px;
    min-width: 70%;
    padding: 0 14px;

    &:focus,
    &:hover {
      box-shadow: none;
      background: var(--trailhead-card-button-background-hover-color);
    }
  }

  .onboardingButtonContainer {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.inline-onboarding {
  .outer-wrapper {
    position: relative;

    .prefs-button {
      button {
        position: absolute;
      }
    }
  }
}
