.trailhead {
  $benefit-icon-size: 64px;
  $benefit-icon-spacing: $benefit-icon-size + 20px;

  background: url('#{$image-path}trailhead/accounts-form-bg.jpg') 100% 100%;
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
  }

  input,
  button {
    border-radius: 4px;
    padding: 10px;
  }

  .trailheadInner {
    $content-spacing: 40px;

    display: grid;
    grid-column-gap: $content-spacing;
    grid-template-columns: 3fr 2fr;
    padding: $content-spacing;
  }

  .trailheadContent {
    h1 {
      margin: 0;
    }

    .trailheadLearn {
      margin-inline-start: $benefit-icon-spacing;
    }
  }

  .trailheadBenefits {
    padding: 0;

    li {
      background-position: top left;
      background-repeat: no-repeat;
      background-size: $benefit-icon-size;
      -moz-context-properties: fill;
      fill: $blue-50;
      list-style: none;
      padding-inline-start: $benefit-icon-spacing;

      &:dir(rtl) {
        background-position-x: right;
      }

      &.knowledge {
        background-image: url('#{$image-path}trailhead/benefit-knowledge.png');
      }

      &.privacy {
        background-image: url('#{$image-path}trailhead/benefit-privacy.png');
      }

      &.products {
        background-image: url('#{$image-path}trailhead/benefit-products.png');
      }
    }

    h3 {
      color: $purple-40;
    }

    p {
      color: $white;
    }
  }

  .trailheadForm {
    $logo-size: 100px;

    background: url('#{$image-path}trailhead/firefox-logo.png') top center / $logo-size no-repeat;
    padding-top: $logo-size;
    text-align: center;

    button,
    input {
      border: 0;
      width: 100%;
    }

    input {
      background-color: $white;
      color: $grey-70;
    }

    button {
      background-color: $blue-60;
    }
  }

  .trailheadStart {
    border: 1px solid $white;
    display: block;
    margin: auto;
    min-width: 33%;
  }
}

$trailhead-cards-bg: #F0EFF4;
$trailhead-cards-header-color: #110143;

.trailheadCards {
  background: $trailhead-cards-bg;
  text-align: center;
  padding: 40px 0;

  h1 {
    margin-top: 0;
    color: $trailhead-cards-header-color;
  }
}

.trailheadCardsInner {
  margin: auto;

  @media (min-width: $break-point-widest) {
    width: $wrapper-max-width-widest;
  }
}
