.ds-text-promo {
  display: flex;
  margin: 16px 0;

  img {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
  }

  .text {
    line-height: 24px;
    margin: -4.5px 0 0;
  }

  header {
    font-size: 15px;
  }

  .subtitle {
    font-size: 13px;
    margin: 0;
    color: $grey-50;
  }
}
