.ds-text-promo {
  display: flex;
  margin: 16px 0;

  img {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
    border-radius: 4px;
  }

  .text {
    line-height: 24px;
    margin: -4.5px 0 0;
  }

  header {
    @include dark-theme-only {
      color: $grey-10;
    }

    font-size: 15px;
  }

  .subtitle {
    @include dark-theme-only {
      color: $grey-40;
    }

    font-size: 13px;
    margin: 0;
    color: $grey-50;
  }
}
