.confirmation-dialog {
  .modal {
    position: fixed;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  }

  section {
    margin: 0;
  }

  .modal-message {
    padding: 16px;
    padding-bottom: 0;
    display: flex;

    &:before {
      display: block;
      content: "";
      width: 32px;
      height: 32px;
      margin-inline-end: 16px;
    }

    &.modal-dismiss:before {
      background-image: url('#{$image-path}glyph-delete-32.svg');
    }

    p {
      margin: 0;
      margin-bottom: 16px;
    }
  }

  .actions {
    padding: 16px 16px 0 16px;
    border-top: none;
    flex-wrap: nowrap;
    display: flex;

    button {
      width: 50%;

      &.done {
        margin-inline-start: 16px;
        margin-inline-end: 0;
      }
    }
  }
}

.modal-overlay {
  background: $background-secondary;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11001;
}

.modal {
  background: $white;
  border: $border-secondary;
  border-radius: $border-radius;
  font-size: 14px;
  z-index: 11002;
}
