.head {
  align-items: center;
  background: $white;
  border-bottom: solid 1px $header-border-color;
  box-shadow: $header-box-shadow;
  display: flex;
  position: fixed;
  flex-shrink: 0;
  height: 50px;
  width: 100%;
  padding: 0;
  z-index: 1000;

  h1 {
    font-size: inherit;
    margin: 0;

    span {
      margin-right: 8px;
      vertical-align: middle;
    }

    .icon {
      display: inline-block;
      font-size: 14px;

      &.timeline {
        background-image: url('img/list-icon.svg');
        height: 14px;
        vertical-align: middle;
        width: 16px;
      }
    }

    .arrow {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url('img/glyph-showmore-16.svg');
      background-size: 15px;
    }
  }

  section {
    align-items: center;
    display: flex;

    &.nav {
      background: $bg-grey;
      border-right: 1px solid darken($bg-grey, 5%);
      cursor: pointer;
      height: 100%;
      padding-left: 20px;
      position: relative;
      width: $header-nav-width;

      &.disabled {
        cursor: default;
      }

      &:hover {
        .arrow {
          color: $mid-grey;
        }
      }
    }

    &.spacer {
      flex-grow: 1;
    }

    &.user-info {
      font-size: 14px;
      padding-right: 20px;

      span {
        padding: 0 10px;
      }

      img {
        border-radius: 15px;
        height: 30px;
      }
    }
  }
}

.nav-picker {
  background: $bg-grey;
  border: 1px solid darken($bg-grey, 10%);
  box-shadow: $header-box-shadow;
  color: $mid-grey;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: $header-nav-width;

  a {
    color: inherit;
    display: block;
    padding: 15px 20px;
    text-decoration: none;

    &:hover {
      background: darken($bg-grey, 5%);
    }
  }
}
