.ds-hero {
  &.ds-hero-border {
    border: 1px solid gray;
  }

  .wrapper {
    display: flex;
    align-items: center;

    img {
      width: 66%;
      height: auto;
    }

    .meta {
      width: 33%;
      padding: 24px;

      header {
        font-size: 22px;
      }

      p {
        font-size: 15px;
      }
    }

  }
}
