.ds-hero {
  .wrapper {
    display: flex;
    padding: 20px 0;

    img {
      width: 67%;
      height: auto;
    }

    .meta {
      width: 33%;
      padding: 24px;

      header {
        font-size: 22px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .cards {
    display: flex;

    .ds-card {
      width: 25%;
      margin: 12px;

      .meta {
        padding: 0;
      }

      &:first-child {
        margin: 12px 12px 12px 0;
      }

      &:last-child {
        margin: 12px 0 12px 12px;
      }
    }
  }
}
