.icon {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  background-size: $icon-size;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;

  &.icon-spacer {
    margin-inline-end: 8px;
  }

  &.icon-small-spacer {
    margin-inline-end: 6px;
  }

  &.icon-bookmark {
   background-image: url('#{$image-path}glyph-bookmark-16.svg');
 }

 &.icon-bookmark-remove {
   background-image: url('#{$image-path}glyph-bookmark-remove-16.svg');
 }

 &.icon-delete {
   background-image: url('#{$image-path}glyph-delete-16.svg');
 }

 &.icon-dismiss {
   background-image: url('#{$image-path}glyph-dismiss-16.svg');
 }

 &.icon-new-window {
   background-image: url('#{$image-path}glyph-newWindow-16.svg');
 }

 &.icon-new-window-private {
   background-image: url('#{$image-path}glyph-newWindow-private-16.svg');
 }

 &.icon-settings {
   background-image: url('#{$image-path}glyph-settings-16.svg');
 }

  &.icon-pin {
    background-image: url('#{$image-path}glyph-pin-16.svg');
  }

  &.icon-unpin {
    background-image: url('#{$image-path}glyph-unpin-16.svg');
  }

  &.icon-pocket {
    background-image: url('#{$image-path}glyph-pocket-16.svg');
  }

  &.icon-historyItem {
    background-image: url('#{$image-path}glyph-historyItem-16.svg');
  }

  &.icon-trending {
    background-image: url('#{$image-path}glyph-trending-16.svg');
  }

  &.icon-now {
    background-image: url('#{$image-path}glyph-now-16.svg');
  }

  &.icon-pin-small {
    background-image: url('#{$image-path}glyph-pin-12.svg');
    background-size: $smaller-icon-size;
    height: $smaller-icon-size;
    width: $smaller-icon-size;
  }

  &.icon-check {
    background-image: url('#{$image-path}glyph-check-16.svg');
  }
}
