.icon {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  background-size: $icon-size;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  fill: $fill-primary;
  -moz-context-properties: fill;

  &.icon-spacer {
    margin-inline-end: 8px;
  }

  &.icon-small-spacer {
    margin-inline-end: 6px;
  }

  &.icon-bookmark-added {
   background-image: url('chrome://browser/skin/bookmark.svg');
 }

 &.icon-bookmark-hollow {
   background-image: url('chrome://browser/skin/bookmark-hollow.svg');
 }

 &.icon-delete {
   background-image: url('#{$image-path}glyph-delete-16.svg');
 }

 &.icon-dismiss {
   background-image: url('#{$image-path}glyph-dismiss-16.svg');
 }

 &.icon-info {
   background-image: url('#{$image-path}glyph-info-16.svg');
 }

 &.icon-import {
   background-image: url('#{$image-path}glyph-import-16.svg');
 }

 &.icon-new-window {
   background-image: url('#{$image-path}glyph-newWindow-16.svg');
 }

 &.icon-new-window-private {
   background-image: url('chrome://browser/skin/privateBrowsing.svg');
 }

 &.icon-settings {
   background-image: url('chrome://browser/skin/settings.svg');
 }

  &.icon-pin {
    background-image: url('#{$image-path}glyph-pin-16.svg');
  }

  &.icon-unpin {
    background-image: url('#{$image-path}glyph-unpin-16.svg');
  }

  &.icon-edit {
    background-image: url('#{$image-path}glyph-edit-16.svg');
  }

  &.icon-pocket {
    background-image: url('#{$image-path}glyph-pocket-16.svg');
  }

  &.icon-historyItem {
    background-image: url('#{$image-path}glyph-historyItem-16.svg');
  }

  &.icon-trending {
    background-image: url('#{$image-path}glyph-trending-16.svg');
    transform: translateY(2px); /* trending bolt is visually top heavy */
  }

  &.icon-now {
    background-image: url('chrome://browser/skin/history.svg');
  }

  &.icon-topsites {
    background-image: url('#{$image-path}glyph-topsites-16.svg');
  }

  &.icon-pin-small {
    background-image: url('#{$image-path}glyph-pin-12.svg');
    background-size: $smaller-icon-size;
    height: $smaller-icon-size;
    width: $smaller-icon-size;
  }

  &.icon-check {
    background-image: url('chrome://browser/skin/check.svg');
  }

  &.icon-webextension {
    background-image: url('#{$image-path}glyph-webextension-16.svg');
  }

  &.icon-highlights {
    background-image: url('#{$image-path}glyph-highlights-16.svg');
  }

  &.icon-arrowhead-down {
    background-image: url('#{$image-path}glyph-arrowhead-down-12.svg');
    background-size: $smaller-icon-size;
    height: $smaller-icon-size;
    width: $smaller-icon-size;
  }

  &.icon-arrowhead-forward {
    background-image: url('#{$image-path}glyph-arrowhead-down-12.svg');
    background-size: $smaller-icon-size;
    height: $smaller-icon-size;
    transform: rotate(-90deg);
    width: $smaller-icon-size;

    &:dir(rtl) {
      transform: rotate(90deg);
    }
  }
}
