html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-moz-focus-inner {
  border: 0;
}

body {
  margin: 0;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

[hidden] {
  display: none !important;
}
