// Default theme
.outer-wrapper {
  // General styles
  --newtab-background-color: $grey-10;
  --newtab-border-primary-color: $grey-40;
  --newtab-border-secondary-color: $grey-30;
  --newtab-button-primary-color: $blue-60;
  --newtab-button-secondary-color: inherit;
  --newtab-element-active-color: $grey-20-60;
  --newtab-icon-primary-color: $grey-90-80;
  --newtab-icon-secondary-color: $grey-90-60;
  --newtab-icon-tertiary-color: $grey-30;
  --newtab-inner-box-shadow-color: $black-10;
  --newtab-link-primary-color: $blue-60;
  --newtab-link-secondary-color: $teal-70;
  --newtab-text-conditional-color: $grey-60;
  --newtab-text-primary-color: $grey-90;
  --newtab-text-secondary-color: $grey-50;
  --newtab-textbox-border: $grey-90-20;
  --newtab-textbox-color: inherit;

  // Context menu
  --newtab-contextmenu-button-color: $white;

  // Modal + overlay
  --newtab-modal-color: $white;
  --newtab-overlay-color: $grey-20;

  // Sections
  --newtab-section-header-text-color: $grey-50;
  --newtab-section-navigation-text-color: $grey-50;
  --newtab-section-active-contextmenu-color: $grey-90;

  // Search
  --newtab-search-background-color: $white;
  --newtab-search-border-color: transparent;
  --newtab-search-icon-color: $grey-90-40;

  // Top Sites
  --newtab-topsites-label-color: inherit;

  // Cards
  --newtab-card-background-color: $white;
  --newtab-card-active-outline-color: $grey-30;
  --newtab-card-hairline-color: $black-10;
}

// Dark theme
.outer-wrapper.dark-theme {
  // General styles
  --newtab-background-color: $grey-80;
  --newtab-border-primary-color: $grey-10-80;
  --newtab-border-secondary-color: $grey-10-20;
  --newtab-button-primary-color: $blue-60;
  --newtab-button-secondary-color: $grey-70;
  --newtab-element-active-color: $grey-60;
  --newtab-icon-primary-color: $grey-10-80;
  --newtab-icon-secondary-color: $grey-10-40;
  --newtab-icon-tertiary-color: $grey-10-20;
  --newtab-inner-box-shadow-color: $grey-10-20;
  --newtab-link-primary-color: $blue-40;
  --newtab-link-secondary-color: $pocket-teal;
  --newtab-text-conditional-color: $grey-10;
  --newtab-text-primary-color: $grey-10;
  --newtab-text-secondary-color: $grey-10-40;
  --newtab-textbox-border: $grey-10-40;
  --newtab-textbox-color: $grey-80;

  // Context menu
  --newtab-contextmenu-button-color: $grey-80;

  // Modal + overlay
  --newtab-modal-color: $grey-90;
  --newtab-overlay-color: $grey-80;

  // Sections
  --newtab-section-header-text-color: $grey-10-80;
  --newtab-section-navigation-text-color: $grey-10-80;
  --newtab-section-active-contextmenu-color: $white;

  // Search
  --newtab-search-background-color: $grey-60;
  --newtab-search-border-color: $grey-10-20;
  --newtab-search-icon-color: $grey-10-60;

  // Top Sites
  --newtab-topsites-label-color: $grey-10-80;

  // Cards
  --newtab-card-background-color: $grey-90;
  --newtab-card-active-outline-color: $grey-60;
  --newtab-card-hairline-color: $grey-10-20;
}

// scss variables related to the theme.
$border-primary: 1px solid var(--newtab-border-primary-color);
$border-secondary: 1px solid var(--newtab-border-secondary-color);
$input-primary: $blue-60;
$shadow-primary: 0 0 0 5px var(--newtab-card-active-outline-color);
$shadow-secondary: 0 1px 4px 0 $grey-90-10;
$input-border: solid 1px var(--newtab-textbox-border);
$input-border-active: solid 1px $blue-50;
$input-error-border: solid 1px $red-60;
$input-error-boxshadow: 0 0 0 1px $red-60, 0 0 0 4px rgba($red-60, 0.3);
$input-focus-boxshadow: 0 0 0 1px $blue-50, 0 0 0 4px rgba($blue-50, 0.3);
$inner-box-shadow: 0 0 0 1px var(--newtab-inner-box-shadow-color);
