$bg-color: #F6F6F8;
$bg-grey: #FBFBFB;
$placeholder-grey: #F7F7F7;
$very-light-grey: #EBEBEB;
$light-grey: #A0A0A0;
$mid-light-grey: #858585;
$mid-grey: #56565A;
$dark-grey: #383E49;
$link-blue: #00AFF7;
$star-blue: #2B99FF;
$black: #000;
$white: #FFF;
$header-border-color: #DFE0E1;
$faintest-black: rgba($black, 0.1);
$faint-black: rgba($black, 0.2);
$border-radius: 3px;
$green: #4EB748;
$default-button-bg: #FBFBFB;
$default-button-border: #BFBFBF;
$blue-button-bg: #0695F9;
$blue-button-border: #1677CF;
$checkbox-border: #C1C1C1;
$checkbox-blue: #1691D2;

$base-gutter: 32px;
$section-margin: 41px;
$grid-unit: 96px; // 1 top site

$icon-size: 16px;

$wrapper-top-padding: 62px;
$wrapper-max-width-medium: $grid-unit * 5 + $base-gutter * 4; // 5 top sites
$wrapper-max-width-large: $grid-unit * 6 + $base-gutter * 5; // 6 top sites
$break-point-medium: $wrapper-max-width-medium + $base-gutter * 2;
$break-point-large: $wrapper-max-width-large + $base-gutter * 2;

$section-title-font-size: 13px;
$section-title-color: #6E707E;
$section-title-bottom-margin: 18px;

$context-menu-button-size: 27px;
$context-menu-button-border: 1px solid rgba($black, 0.2);
$context-menu-button-boxshadow: 0 2px 0 rgba($black, 0.1);
$context-menu-border-color: rgba(0, 0, 0, 0.2);
$context-menu-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px $context-menu-border-color;
$context-menu-font-size: 14px;
$context-menu-border-radius: 5px;
$context-menu-outer-padding: 5px;
$context-menu-item-padding: 3px 12px;

$sidebar-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);

$image-path: 'assets/';
