// Photon colors from http://design.firefox.com/photon/visual/color.html
$blue-50: #0A84FF;
$blue-60: #0060DF;
$grey-10: #F9F9FA;
$grey-20: #EDEDF0;
$grey-30: #D7D7DB;
$grey-40: #B1B1B3;
$grey-50: #737373;
$grey-60: #4A4A4F;
$grey-90: #0C0C0D;
$teal-70: #008EA4;
$red-60: #D70022;

// Aliases and derived styles based on Photon colors for common usage
$background-primary: $grey-10;
$background-secondary: $grey-20;
$border-primary: 1px solid $grey-40;
$border-secondary: 1px solid $grey-30;
$fill-primary: rgba($grey-90, 0.8);
$fill-secondary: rgba($grey-90, 0.6);
$fill-tertiary: $grey-30;
$input-primary: $blue-60;
$input-secondary: $grey-10;
$link-primary: $blue-60;
$link-secondary: $teal-70;
$shadow-primary: 0 0 0 5px $grey-30;
$shadow-secondary: 0 1px 4px 0 rgba($grey-90, 0.1);
$text-primary: $grey-90;
$text-conditional: $grey-60;
$text-secondary: $grey-50;
$input-border: solid 1px rgba($grey-90, 0.20);
$input-border-active: solid 1px rgba($grey-90, 0.40);
$input-error-border: solid 1px $red-60;
$input-error-boxshadow: 0 0 0 2px rgba($red-60, 0.35);

$white: #FFF;
$border-radius: 3px;

$base-gutter: 32px;
$section-spacing: 40px;
$grid-unit: 96px; // 1 top site

$icon-size: 16px;
$smaller-icon-size: 12px;

$wrapper-default-width: $grid-unit * 2 + $base-gutter * 1; // 2 top sites
$wrapper-max-width-small: $grid-unit * 3 + $base-gutter * 2; // 3 top sites
$wrapper-max-width-medium: $grid-unit * 4 + $base-gutter * 3; // 4 top sites
$wrapper-max-width-large: $grid-unit * 6 + $base-gutter * 5; // 6 top sites
$break-point-small: $wrapper-max-width-small + $base-gutter * 2;
$break-point-medium: $wrapper-max-width-medium + $base-gutter * 2;
$break-point-large: $wrapper-max-width-large + $base-gutter * 2;
$wrapper-card-outer: 768px;

$section-title-font-size: 13px;

$card-width: $grid-unit * 2 + $base-gutter;
$card-height: 266px;
$card-preview-image-height: 122px;
$card-title-margin: 2px;
$card-text-line-height: 19px;

$topic-margin-top: 12px;

$context-menu-button-size: 27px;
$context-menu-button-boxshadow: 0 2px rgba($grey-90, 0.1);
$context-menu-border-color: rgba(0, 0, 0, 0.2);
$context-menu-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px $context-menu-border-color;
$context-menu-font-size: 14px;
$context-menu-border-radius: 5px;
$context-menu-outer-padding: 5px;
$context-menu-item-padding: 3px 12px;

$inner-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

$image-path: 'assets/';

$snippets-container-height: 120px;

@mixin fade-in {
  box-shadow: inset $inner-box-shadow, $shadow-primary;
  transition: box-shadow 150ms;
}

@mixin fade-in-card {
  box-shadow: $shadow-primary;
  transition: box-shadow 150ms;
}

@mixin context-menu-button {
  .context-menu-button {
    cursor: pointer;
    position: absolute;
    top: -($context-menu-button-size / 2);
    offset-inline-end: -($context-menu-button-size / 2);
    width: $context-menu-button-size;
    height: $context-menu-button-size;
    background-color: $white;
    background-image: url('chrome://browser/skin/page-action.svg');
    background-position: 55%;
    background-clip: padding-box;
    border: $border-primary;
    border-radius: 100%;
    box-shadow: $context-menu-button-boxshadow;
    fill: $fill-primary;
    transform: scale(0.25);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 200ms;

    &:focus, &:active {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@mixin context-menu-button-hover {
  .context-menu-button {
    transform: scale(1);
    opacity: 1;
  }
}

@mixin context-menu-open-middle {
  .context-menu {
    margin-inline-start: auto;
    margin-inline-end: auto;
    offset-inline-start: -$base-gutter;
    offset-inline-end: auto;
  }
}

@mixin context-menu-open-left {
  .context-menu {
    margin-inline-start: auto;
    margin-inline-end: 5px;
    offset-inline-start: auto;
    offset-inline-end: 0;
  }
}
