// Photon colors from http://design.firefox.com/photon/visual/color.html
$grey-10: #F9F9FA;
$grey-20: #EDEDF0;
$grey-50: #737373;
$grey-90: #0C0C0D;
$teal-60: #00C8D7;
$teal-70: #008EA4;

// Aliases and derived styles based on Photon colors for common usage
$background-primary: $grey-20;
$background-secondary: $grey-10;
$fill-primary: rgba($grey-90, 0.8);
$fill-secondary: rgba($grey-90, 0.6);
$link-primary: $teal-70;
$link-secondary: $teal-60;
$text-primary: $grey-90;
$text-secondary: $grey-50;

$star-blue: #2B99FF;
$black: #000;
$white: #FFF;
$faintest-black: rgba($black, 0.1);
$faint-black: rgba($black, 0.2);
$border-radius: 3px;
$default-button-bg: #FBFBFB;
$default-button-border: #BFBFBF;
$blue-button-bg: #0695F9;
$blue-button-border: #1677CF;
$checkbox-border: #C1C1C1;
$checkbox-blue: #1691D2;

$base-gutter: 32px;
$section-spacing: 40px;
$grid-unit: 96px; // 1 top site

$icon-size: 16px;
$smaller-icon-size: 12px;

$wrapper-default-width: $grid-unit * 2 + $base-gutter * 1; // 2 top sites
$wrapper-max-width-small: $grid-unit * 3 + $base-gutter * 2; // 3 top sites
$wrapper-max-width-medium: $grid-unit * 4 + $base-gutter * 3; // 4 top sites
$wrapper-max-width-large: $grid-unit * 6 + $base-gutter * 5; // 6 top sites
$break-point-small: $wrapper-max-width-small + $base-gutter * 2;
$break-point-medium: $wrapper-max-width-medium + $base-gutter * 2;
$break-point-large: $wrapper-max-width-large + $base-gutter * 2;
$wrapper-card-outer: 768px;

$section-title-font-size: 13px;

$card-width: $grid-unit * 2 + $base-gutter;
$card-height: 266px;
$card-preview-image-height: 122px;
$card-title-margin: 2px;
$card-text-line-height: 19px;
$card-box-shadow: 0 1px 4px 0 rgba(9,6,13,0.1);

$topic-margin-top: 12px;

$context-menu-button-size: 27px;
$context-menu-button-border: 1px solid rgba($black, 0.2);
$context-menu-button-boxshadow: 0 2px 0 rgba($black, 0.1);
$context-menu-border-color: rgba(0, 0, 0, 0.2);
$context-menu-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px $context-menu-border-color;
$context-menu-font-size: 14px;
$context-menu-border-radius: 5px;
$context-menu-outer-padding: 5px;
$context-menu-item-padding: 3px 12px;

$sidebar-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
$inner-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

$image-path: 'assets/';

$snippets-container-height: 120px;

@mixin fade-in {
  box-shadow: inset $inner-box-shadow, 0 0 0 5px $faintest-black;
  transition: box-shadow 150ms;
}

@mixin fade-in-card {
  box-shadow: 0 0 0 5px $faintest-black;
  transition: box-shadow 150ms;
}

@mixin context-menu-button {
  .context-menu-button {
    cursor: pointer;
    position: absolute;
    top: -($context-menu-button-size / 2);
    offset-inline-end: -($context-menu-button-size / 2);
    width: $context-menu-button-size;
    height: $context-menu-button-size;
    background-color: $white;
    background-image: url('chrome://browser/skin/page-action.svg');
    background-position: 55%;
    background-clip: padding-box;
    border: $context-menu-button-border;
    border-radius: 100%;
    box-shadow: $context-menu-button-boxshadow;
    fill: $fill-primary;
    transform: scale(0.25);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 200ms;
    z-index: 399;

    &:focus, &:active {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@mixin context-menu-button-hover {
  .context-menu-button {
    transform: scale(1);
    opacity: 1;
  }
}

@mixin context-menu-open-middle {
  .context-menu {
    margin-inline-start: auto;
    margin-inline-end: auto;
    offset-inline-start: -$base-gutter;
    offset-inline-end: auto;
  }
}

@mixin context-menu-open-left {
  .context-menu {
    margin-inline-start: auto;
    margin-inline-end: 5px;
    offset-inline-start: auto;
    offset-inline-end: 0;
  }
}
