/* This is the windows variant */

$os-infopanel-arrow-height: 10px;
$os-infopanel-arrow-offset-end: 6px;
$os-infopanel-arrow-url: 'chrome://global/skin/arrow/panelarrow-vertical-themed.svg';
$os-infopanel-arrow-width: 20px;
$os-search-focus-shadow-radius: 1px;

@import './activity-stream';
