/* This is the linux variant */

$os-arrow-height: 10px;
$os-arrow-offset-end: 6px;
$os-arrow-panel-url: 'chrome://global/skin/arrow/panelarrow-vertical-themed.svg';
$os-arrow-width: 20px;
$os-search-focus-shadow-radius: 3px;

@import './activity-stream';
