/* This is the mac variant */

$os-infopanel-arrow-height: 10px;
$os-infopanel-arrow-offset-end: 7px;
$os-infopanel-arrow-url: 'chrome://global/skin/arrow/panelarrow-vertical@2x.png';
$os-infopanel-arrow-width: 18px;
$os-search-focus-shadow-radius: 3px;

@import './activity-stream';
