/* This is the linux variant */ // sass-lint:disable-line no-css-comments

$os-infopanel-arrow-height: 10px;
$os-infopanel-arrow-offset-end: 6px;
$os-infopanel-arrow-url: 'chrome://global/skin/arrow/panelarrow-vertical.svg';
$os-infopanel-arrow-width: 20px;
$os-search-focus-shadow-radius: 3px;

@import './activity-stream';
