$bg-color: #F2F2F2;
$bg-grey: #FBFBFB;
$placeholder-grey: #F7F7F7;
$very-light-grey: #EBEBEB;
$light-grey: #A0A0A0;
$mid-light-grey: #858585;
$mid-grey: #56565A;
$dark-grey: #383E49;
$link-blue: #00AFF7;
$star-blue: #2B99FF;
$black: #000;
$white: #FFF;
$header-border-color: #DFE0E1;
$faintest-black: rgba($black, 0.1);
$faint-black: rgba($black, 0.2);
$border-radius: 3px;
$green: #4EB748;
$default-button-bg: #FBFBFB;
$default-button-border: #BFBFBF;
$blue-button-bg: #0695F9;
$blue-button-border: #1677CF;
$checkbox-border: #C1C1C1;
$checkbox-blue: #1691D2;

$wrapper-max-width: 736px;
$wrapper-vertical-padding: 62px;
$break-point: $wrapper-max-width + 40px;

$base-gutter: 32px;
$section-margin: 41px;

$section-title-font-size: 12px;
$section-title-color: $light-grey;
$section-title-bottom-margin: 13px;
