.top-sites {
  position: relative;

  .tiles-wrapper {
    margin-inline-end: -20px;

    @media (min-width: $break-point) {
      width: ($tile-width + $tile-gutter) * 6;
    }
  }

  // This is a container for the delete menu
  .tile-outer {
    @include link-menu-button;
    border-radius: $border-radius;
    display: inline-block;
    height: $tile-width;
    position: relative;
    margin: 0 0 $tile-gutter;
    margin-inline-end: $tile-gutter;
    vertical-align: top;
    width: $tile-width;

    &:hover {
      box-shadow: 0 0 0 5px $faintest-black;
      transition: box-shadow 150ms;
    }

    .tile {
      @include accessible-link-menu-button;
      border-radius: $border-radius;
      box-shadow: none;
      outline: 0;
      display: inline-flex;
      flex-shrink: 0;
      flex-direction: column;
      font-size: $tile-font-size;
      height: $tile-height;
      position: relative;
      text-decoration: none;
      width: $tile-width;
      color: inherit;

      .site-title {
        font-size: 11px;
        height: 22px;
        offset-inline-start: 0;
        overflow: hidden;
        padding-top: 6px;
        position: absolute;
        text-align: center;
        top: 100%;
        width: 100%;

        .icon-pin {
          offset-inline-start: 0;
          opacity: 0.5;
          position: absolute;
        }

        .label {
          flex-grow: 1;
          text-overflow: ellipsis;
        }

        &.pinned {
          .label {
            padding-inline-start: 20px;
            text-align: left;
          }
        }
      }

      .tile-img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &.top-corner {
          position: absolute;
          height: 40px;
          width: 40px;
          z-index: 1000;
          top: -6px;
          offset-inline-start: -6px;
        }

        &.full-width {
          img {
            border-radius: $border-radius;
          }
        }
      }
    }

    // Only display a placeholder version (ie just outlines/shapes), for use
    // before sufficient data is available to display.
    &.placeholder {
      .site-icon-wrapper {
        width: 32px;
        height: $tile-width;
      }

      .tile {
        box-shadow: none;
      }
    }

    .screenshot {
      position: absolute;
      top: 0;
      offset-inline-start: 0;
      height: 100%;
      width: 100%;
      background-size: 250%;
      background-position: top center;
      border-radius: 3px;
    }
  }
}

.edit-topsites-wrapper {
  .edit-topsites-button {
    position: absolute;
    right: 0;
    top: 0;

    button {
      background: none;
      border: 0;
      color: $light-grey;
      cursor: pointer;
      font-size: 12px;
      padding: 0;
    }
  }

  .modal {
    left: -31px;
    position: absolute;
    top: -16px;
    width: calc(100% + 60px);
  }

  .edit-topsites-inner-wrapper {
    margin: 0;
    padding: 15px 30px;
  }

  button.icon-topsites {
    background-position: 10px center;
    background-repeat: no-repeat;
    height: auto;
    padding-right: 15px;
    width: auto;

    span {
      padding-left: 3px;
    }
  }

  .edit-menu {
    background: $white;
    border: $edit-menu-button-border;
    border-radius: $edit-menu-button-size / 2;
    box-shadow: $edit-menu-button-boxshadow;
    height: $edit-menu-button-size;
    position: absolute;
    offset-inline-end: -($edit-menu-button-size / 2);
    opacity: 0;
    overflow: hidden;
    top: -($edit-menu-button-size / 2);
    transform: scale(0.25);
    transition-property: transform, opacity;
    transition-duration: 200ms;
    z-index: 399;

    &:focus,
    &:active {
      transform: scale(1);
      opacity: 1;
    }

    button {
      border: 0;
      border-right: $edit-menu-button-border;
      background-color: $white;
      cursor: pointer;
      height: 100%;
      width: $edit-menu-button-size;

      &:hover {
        background-color: $bg-grey;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  .tile-outer:hover .edit-menu {
    transform: scale(1);
    opacity: 1;
  }
}
