.top-sites {
  .tiles-wrapper {
    margin-right: -20px;

    @media (min-width: $break-point) {
      display: flex;
    }
  }

  // This is a container for the delete menu
  .tile-outer {
    @include link-menu-button;
    position: relative;
    display: inline-block;
    margin: 0 $tile-gutter 0 0;
    @media (min-width: $break-point) {
      display: flex;
    }

    // Only display a placeholder version (ie just outlines/shapes), for use
    // before sufficient data is available to display.
    &.placeholder {
      .site-icon-wrapper {
        width: 32px;
        height: 74px;
      }

      .site-icon-title {
        border-top: 1px solid $faintest-black;
      }

      .tile {
        box-shadow: none;
      }
    }
  }

  .tile {
    @include item-shadow;
    display: inline-flex;
    flex-shrink: 0;
    border-radius: $border-radius;
    flex-direction: column;
    font-size: $tile-font-size;
    height: $tile-height;
    position: relative;
    text-decoration: none;
    width: $tile-width;
    color: inherit;
    margin-bottom: $tile-gutter;
    @media (min-width: $break-point) {
      margin-bottom: 0;
    }


    .tile-img-container {
      width: 100%;
      overflow: hidden;
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
