.top-sites {
  .tiles-wrapper {
    margin-right: -20px;
    text-align: center;
    display: flex;
  }

  .tile {
    @include item-shadow;
    display: flex;
    border-radius: $border-radius;
    flex-direction: column;
    font-size: $tile-font-size;
    height: $tile-height;
    margin: 0 $tile-gutter 0 0;
    position: relative;
    text-decoration: none;
    width: $tile-width;
    color: inherit;

    .tile-img-container {
      width: 100%;
      overflow: hidden;
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tile-title {
      font-size: $tile-title-font-size;
      border-radius: 0 0 $border-radius $border-radius;
      background-color: $tile-title-bg-color;
      height: $tile-title-height;
      line-height: $tile-title-height;
      text-align: center;
      overflow: hidden;
    }

    &:hover .tile-title {
      background-color: $tile-title-hover-color;
    }

    &.tile-placeholder {
      background: none;
      border: $placeholder-border;
      box-shadow: none;
    }
  }
}
