.search-wrapper {
  .search-label {
    background: none;
    opacity: 0.2;
    transition: opacity 0.2s ease;

    &::after {
      content: '\1F440';
      transform: scaleX(-1);
    }
  }

  &:hover .search-label {
    opacity: 1;
  }

  button {
    display: flex;
    align-items: center;

    span {
      height: auto;
      width: auto;
      background: none;

      &::after {
        content: '\1F914';
      }
    }

    &:hover span::after {
      content: '\1F575';
    }
  }
}

.feed-item.bookmark .star {
  background: none;

  &::after {
    font-size: 16px;
    content: '\1F354';
  }
}

main.timeline nav.sidebar a .icon.star {
  background: none;

  &::after {
    font-size: 16px;
    content: '\1F354';
  }
}

main.timeline nav.sidebar a .icon.firefox {
  background: none;

  &::after {
    font-size: 16px;
    content: '\1F5A5';
  }
}

.section-title {
  color: transparent;

  &::before {
    font-size: 24px;
    color: $mid-grey;
  }
}

.top-sites .section-title::before {
  content: '\1F3A9';
}

.spotlight .section-title::before {
  content: '\1F525 \1F525 \1F525';
}

.grouped-activity-feed .section-title {
  color: $light-grey;

  &::before {
    font-size: 16px;
    content: '\1F552';
    vertical-align: middle;
    margin-right: 11px;
    margin-left: 9px;
  }
}

.head h1 {
  display: flex;
  align-items: center;

  .icon.timeline {
    background: none;
    height: auto;
    width: auto;
    margin-right: 0;

    &::after {
      font-size: 20px;
      content: '\1F495';
    }
  }
}
