.icon {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  background-size: $icon-size;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;

  &.icon-spacer {
    margin-inline-end: 8px;
  }

  &.icon-activity-stream {
    background-image: url('#{$image-path}glyph-activityStream-16.svg');
  }

  &.icon-arrow {
    background-image: url('#{$image-path}glyph-showmore-16.svg');
  }

  &.icon-bookmark {
    background-image: url('#{$image-path}glyph-bookmark-16.svg');
  }

  &.icon-bookmark-white {
    background-image: url('#{$image-path}glyph-bookmark-16-white.svg');
  }

  &.icon-bookmark-remove {
    background-image: url('#{$image-path}glyph-bookmark-remove-16.svg');
  }

  &.icon-delete {
    background-image: url('#{$image-path}glyph-delete-16.svg');
  }

  &.icon-dismiss {
    background-image: url('#{$image-path}glyph-dismiss-16.svg');
  }

  &.icon-firefox-white {
    background-image: url('#{$image-path}glyph-firefox-white-16.svg');
  }

  &.icon-new-window {
    background-image: url('#{$image-path}glyph-newWindow-16.svg');
  }

  &.icon-new-window-private {
    background-image: url('#{$image-path}glyph-newWindow-private-16.svg');
  }

  &.icon-forward {
    background-image: url('#{$image-path}glyph-forward-16.svg');
  }

  &.icon-search {
    background-image: url('#{$image-path}glyph-search-16.svg');
  }

  &.icon-settings {
    background-image: url('#{$image-path}glyph-settings-16.svg');
  }

  &.icon-timeline {
    background-image: url('#{$image-path}list-icon.svg');
  }

  &.icon-historyItem {
    background-image: url('#{$image-path}glyph-historyItem-16.svg');
  }

  &.icon-sync {
    background-image: url('#{$image-path}glyph-sync-16.svg');
  }

  &.icon-tab {
    background-image: url('#{$image-path}glyph-tab-16.svg');
  }

  &.icon-topic {
    background-image: url('#{$image-path}glyph-topic-16.svg');
  }

  &.icon-copy-address {
    background-image: url('#{$image-path}glyph-copy-16.svg');
  }

  &.icon-email-link {
    background-image: url('#{$image-path}glyph-email-16.svg');
  }

  &.icon-share {
    background-image: url('#{$image-path}glyph-share-16.svg');
  }

  &.icon-menu-arrow {
    margin-inline-start: auto;
    -moz-appearance: menuarrow;
  }
}
