html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

[hidden] {
  display: none !important;
}
