$image-path: 'img/';

$bg-color: #F2F2F2;
$bg-grey: #FBFBFB;
$placeholder-grey: #F7F7F7;
$very-light-grey: #EBEBEB;
$light-grey: #A0A0A0;
$mid-light-grey: #858585;
$mid-grey: #56565A;
$dark-grey: #383E49;
$link-blue: #00AFF7;
$star-blue: #2B99FF;
$topic-grey: #BFC0C7;
$topic-blue: #008EA4;
$navy: #383E49;
$light-navy: #888B92;
$sidebar-active-item-border-color: #E14164;
$black: #000;
$white: #FFF;
$header-border-color: #DFE0E1;
$faintest-black: rgba($black, 0.1);
$faint-black: rgba($black, 0.2);
$border-radius: 3px;
$pink: #E6196F;
$green: #4EB748;
$default-button-bg: #FBFBFB;
$default-button-border: #BFBFBF;
$blue-button-bg: #0695F9;
$blue-button-border: #1677CF;
$checkbox-border: #C1C1C1;
$checkbox-blue: #1691D2;

$wrapper-max-width: 766px;
$wrapper-vertical-padding: 38px;
$break-point: $wrapper-max-width + 40px;

$base-gutter: 38px;
$section-margin: 41px;

$section-title-font-size: 13px;
$section-title-color: #6E707E;
$section-title-bottom-margin: 18px;

$header-box-shadow: 0 4px 2px -3px rgba($black, 0.05);
$header-nav-width: 250px;
$header-border: solid 1px $header-border-color;
$header-section-spacing: 20px;

$tile-gutter: $base-gutter;
$tile-width: 96px;
$tile-height: $tile-width;
$tile-title-height: 22px;
$tile-font-size: 13px;
$tile-border: 1px $white;
$tile-title-bg-color: rgba($white, 0.6);
$tile-title-hover-color: $white;
$tile-title-font-size: 11px;

$link-menu-button-size: 27px;
$link-menu-button-border: 1px solid rgba($black, 0.2);
$link-menu-button-boxshadow: 0 2px 0 rgba($black, 0.1);

$edit-menu-button-size: 25px;
$edit-menu-button-border: 1px solid rgba($black, 0.2);
$edit-menu-button-boxshadow: 0 2px 0 rgba($black, 0.1);

$spotlight-item-height: 290px;
$spotlight-item-width: ($wrapper-max-width - $base-gutter * 2) / 3;
$spotlight-img-height: 146px;
$spotlight-text-height: 94px;
$spotlight-text-height-max: 200px;
$spotlight-font-size: 12px;
$spotlight-description-height: 34px;
$spotlight-title-max-height: 36px;
$spotlight-title-margin-bottom: 2px;

$timeline-max-width: 3 * $spotlight-item-width + 20px * 2;

$site-icon-border-radius: 3px;

$search-bg-color: #FFF;
$search-border-radius: 4px;
$search-margin-top: 52px;
$search-margin-bottom: 48px;
$search-height: 36px;
$search-input-left-label-width: 35px;
$search-input-border-color: #BFBFBF;
$search-blue: #0996F8;
$search-hover-shadow: rgba(0.11, 0.34, 0.69, 0.5);
$search-focus-shadow: #0996F8;
$search-button-grey: #FBFBFB;
$search-button-border-color: #D4D4D4;
$search-button-width: 36px;
$search-glyph-image: url('#{$image-path}glyph-search-16.svg');
$search-glyph-size: 20px;
$search-text: #666;
$search-section-background: #F7F7F7;
$search-border-color: #EAEAEA;

$item-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
$item-shadow-hover: 0 1px 2px hsla(0, 0%, 0%, 0.06), 0 0 0 5px $faintest-black;

// override background transparency of image itself
$loader-popup-background-color: $white;
$loader-spinner-size: 16px;
$loader-border-color: #E0E0E0;
$loader-border-radius: 4px;
$loader-z-index: 10000;
$loader-title-color: #3D3D3D;
$loader-title-font-size: 18px;
$loader-body-color: #2B2B2B;
$loader-status-text-color: #6A6A6A;

$context-menu-border-color: rgba(0, 0, 0, 0.2);
$context-menu-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px $context-menu-border-color;
$context-menu-font-size: 14px;
$context-menu-border-radius: 5px;
$context-menu-outer-padding: 5px;
$context-menu-item-padding: 3px 12px;

$icon-size: 16px;
$icon-color: #4D4D4D;

$tooltip-height: 50px;
$tooltip-background-color: #FFF3CE;
$tooltip-border-radius: 5px;
$tooltip-border-properties:  1px solid rgba(0, 0, 0, 0.27);
$tooltip-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
$tooltip-padding: 10px 30px;
$tooltip-anchor-width: 8px;
$tooltip-anchor-height: 8px;
$tooltip-anchor-margin: -42px 0 0 -24px;

$code-font: Menlo, Monaco, Consolas, monospace;
$code-background: #FCF2F4;
$code-color: #E8005C;

$sidebar-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);

@mixin item-shadow {
  box-shadow: $item-shadow;

  &:hover {
    box-shadow: $item-shadow-hover;
    transition: box-shadow 150ms;
  }
}

@mixin link-menu-button {
  &.active,
  &:hover {
    .link-menu-button {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@mixin accessible-link-menu-button {
  &:active,
  &:focus {
    box-shadow: $item-shadow-hover;
    transition: box-shadow 150ms;

    + .link-menu-button {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@mixin list-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin list-link {
  cursor: default;
  color: $black;
  display: block;

  &:hover,
  &.active {
    background: $search-blue;
    color: $white;
  }
}

@mixin search-input {
  border: 0;
  box-shadow: 0 1px 0 0 $faintest-black;
  flex-grow: 1;
  margin: 0;
  outline: none;
  padding: 0 12px 0 $search-input-left-label-width;
  height: 100%;

  &:focus {
    border-color: $search-blue;
    box-shadow: 0 0 0 2px $search-focus-shadow;
    z-index: 1;
  }
}
