.search-wrapper {
  $search-border-radius: 3px;
  $search-focus-color: $blue-50;
  $search-height: 35px;
  $search-input-left-label-width: 35px;
  $search-button-width: 36px;
  $search-glyph-image: url('chrome://browser/skin/search-glass.svg');
  $glyph-forward: url('chrome://browser/skin/forward.svg');
  $search-glyph-size: 16px;
  $search-glyph-fill: $grey-90-40;
  // This is positioned so it is visually (not metrically) centered. r=abenson
  $search-glyph-left-position: 12px;

  cursor: default;
  display: flex;
  position: relative;
  // The extra 1px is to account for the box-shadow being outside of the element
  // instead of inside. It needs to be like that to not overlap the inner background
  // color of the hover state of the submit button.
  margin: 1px 1px $section-spacing;
  width: 100%;
  height: $search-height;

  input {
    border: none;
    border-radius: $search-border-radius;
    box-shadow: $shadow-secondary,
      0 0 0 1px rgba(0, 0, 0, 0.15);
    color: inherit;
    padding: 0;
    padding-inline-end: $search-button-width;
    padding-inline-start: $search-input-left-label-width;
    width: 100%;
    font-size: 15px;
  }

  &:hover input {
    box-shadow: $shadow-secondary,
      0 0 0 1px rgba(0, 0, 0, 0.25);
  }

  &:active input,
  input:focus {
    box-shadow: 0 0 0 3px $search-focus-color;
  }

  .search-label {
    background: $search-glyph-image no-repeat $search-glyph-left-position center / $search-glyph-size;
    fill: $search-glyph-fill;
    -moz-context-properties: fill;
    position: absolute;
    offset-inline-start: 0;
    height: 100%;
    width: $search-input-left-label-width;
  }

  .search-button {
    background: $glyph-forward no-repeat center center;
    border-radius: 0 $border-radius $border-radius 0;
    border: 0;
    width: $search-button-width;
    fill: $search-glyph-fill;
    -moz-context-properties: fill;
    background-size: 16px 16px;
    height: 100%;
    offset-inline-end: 0;
    position: absolute;

    &:focus,
    &:hover {
      background-color: $grey-90-10;
      cursor: pointer;
    }

    &:active {
      background-color: $grey-90-20;
    }

    &:dir(rtl) {
      transform: scaleX(-1);
    }
  }

  // Adjust the style of the contentSearchUI-generated table
  .contentSearchSuggestionTable {
    border: 0;
    transform: translateY(2px);
  }
}
