.search-wrapper {
  $search-border-radius: 4px;
  $search-height: 36px;
  $search-input-left-label-width: 35px;
  $search-button-width: 36px;
  $search-glyph-image: url('#{$image-path}glyph-search-16.svg');
  $search-glyph-size: 20px;
  $search-shadow-outline: 0 0 0 2px $input-primary;

  @mixin search-input {
    border: 0;
    box-shadow: $shadow-secondary;

    &:focus {
      border-color: $input-primary;
      box-shadow: $search-shadow-outline;
      z-index: 1;
    }
  }

  cursor: default;
  display: flex;
  position: relative;
  margin: 0 0 $section-spacing;
  width: 100%;
  height: $search-height;

  input {
    @include search-input;
    border-radius: $search-border-radius;
    padding: 0;
    padding-inline-end: $search-button-width;
    padding-inline-start: $search-input-left-label-width;
    width: 100%;

    &:focus + .search-button {
      z-index: 1;
      background-color: $input-primary;
      background-image: url('chrome://browser/skin/forward.svg');
      fill: $white;
      -moz-context-properties: fill;
    }

    &[aria-expanded="true"] {
      border-radius: $search-border-radius $search-border-radius 0 0;
    }
  }

  .search-label {
    background: $search-glyph-image no-repeat center center / $search-glyph-size;
    fill: $fill-secondary;
    -moz-context-properties: fill;
    position: absolute;
    offset-inline-start: 0;
    height: 100%;
    width: $search-input-left-label-width;
    z-index: 2;
  }

  .search-button {
    background: url('chrome://browser/skin/forward.svg') no-repeat center center;
    border-radius: 0 $border-radius $border-radius 0;
    border: 0;
    width: $search-button-width;
    fill: $fill-secondary;
    -moz-context-properties: fill;
    background-size: 16px 16px;
    height: 100%;
    offset-inline-end: 0;
    position: absolute;

    &:hover {
      z-index: 1;
      background-color: $input-primary;
      fill: $white;
      cursor: pointer;
    }

    &:dir(rtl) {
      transform: scaleX(-1);
    }
  }

  // Adjust the style of the contentSearchUI-generated table
  .contentSearchSuggestionTable {
    border: 0;
    box-shadow: $search-shadow-outline;
    transform: translateY(2px);
  }
}
