.search-wrapper {
  $search-height: 35px;
  $search-input-left-label-width: 35px;
  $search-button-width: 36px;
  $search-glyph-image: url('chrome://browser/skin/search-glass.svg');
  $glyph-forward: url('chrome://browser/skin/forward.svg');
  $search-glyph-size: 16px;
  // This is positioned so it is visually (not metrically) centered. r=abenson
  $search-glyph-left-position: 12px;

  cursor: default;
  display: flex;
  height: $search-height;
  margin-bottom: $section-spacing;
  position: relative;
  width: 100%;

  input {
    background: var(--newtab-textbox-background-color);
    border: solid 1px var(--newtab-search-border-color);
    box-shadow: $shadow-secondary, 0 0 0 1px $black-15;
    font-size: 15px;
    padding: 0;
    padding-inline-end: $search-button-width;
    padding-inline-start: $search-input-left-label-width;
    width: 100%;
  }

  &:hover input {
    box-shadow: $shadow-secondary, 0 0 0 1px $black-25;
  }

  &:active input,
  input:focus {
    border: $input-border-active;
    box-shadow: var(--newtab-textbox-focus-boxshadow);
  }

  .search-label {
    background: $search-glyph-image no-repeat $search-glyph-left-position center / $search-glyph-size;
    -moz-context-properties: fill;
    fill: var(--newtab-search-icon-color);
    height: 100%;
    offset-inline-start: 0;
    position: absolute;
    width: $search-input-left-label-width;
  }

  .search-button {
    background: $glyph-forward no-repeat center center;
    background-size: 16px 16px;
    border: 0;
    border-radius: 0 $border-radius $border-radius 0;
    -moz-context-properties: fill;
    fill: var(--newtab-search-icon-color);
    height: 100%;
    offset-inline-end: 0;
    position: absolute;
    width: $search-button-width;

    &:focus,
    &:hover {
      background-color: $grey-90-10;
      cursor: pointer;
    }

    &:active {
      background-color: $grey-90-20;
    }

    &:dir(rtl) {
      transform: scaleX(-1);
    }
  }
}

@at-root {
  // Adjust the style of the contentSearchUI-generated table
  // sass-lint:disable-block class-name-format
  .contentSearchSuggestionTable {
    border: 0;
    box-shadow: $context-menu-shadow;
    transform: translateY(3px);

    .contentSearchHeader {
      background-color: var(--newtab-search-dropdown-header-color);
      color: var(--newtab-text-secondary-color);
    }

    .contentSearchHeader,
    .contentSearchSuggestionsList,
    .contentSearchSettingsButton {
      border-color: var(--newtab-border-secondary-color);
    }

    .contentSearchSearchWithHeaderSearchText {
      color: var(--newtab-text-primary-color);
    }

    .contentSearchSuggestionsContainer {
      background-color: var(--newtab-search-dropdown-color);
    }

    .contentSearchSuggestionRow {
      &.selected {
        background: var(--newtab-element-hover-color);
        color: var(--newtab-text-primary-color);

        &:active {
          background: var(--newtab-element-active-color);
        }

        .historyIcon {
          fill: var(--newtab-icon-secondary-color);
        }
      }
    }

    .contentSearchOneOffsTable {
      .contentSearchSuggestionsContainer {
        background-color: var(--newtab-search-dropdown-header-color);
      }
    }

    .contentSearchSettingsButton {
      &:hover {
        background: var(--newtab-element-hover-color);
        color: var(--newtab-text-primary-color);
      }
    }
  }
}
