.search-wrapper {
  $search-border-radius: 4px;
  $search-height: 36px;
  $search-input-left-label-width: 35px;
  $search-input-border-color: #BFBFBF;
  $search-blue: #0996F8;
  $search-hover-shadow: rgba(0.11, 0.34, 0.69, 0.5);
  $search-focus-shadow: #0996F8;
  $search-button-grey: #FBFBFB;
  $search-button-width: 36px;
  $search-glyph-image: url('#{$image-path}glyph-search-16.svg');
  $search-glyph-size: 20px;
  $search-text: #666;

  @mixin search-input {
    border: 0;
    box-shadow: $shadow-secondary;
    flex-grow: 1;
    margin: 0;
    outline: none;
    padding: 0 12px 0 $search-input-left-label-width;
    height: 100%;

    &:focus {
      border-color: $search-blue;
      box-shadow: 0 0 0 2px $search-focus-shadow;
      z-index: 1;
    }
  }

  cursor: default;
  display: flex;
  position: relative;
  margin: 0 0 $section-spacing;
  width: 100%;
  height: $search-height;

  input {
    @include search-input;
    border-radius: $search-border-radius 0 0 $search-border-radius;
    padding-inline-start: 35px;

    &:focus + .search-button {
      z-index: 1;
      box-shadow: 0 0 0 2px $search-focus-shadow;
      background-color: $search-blue;
      background-image: url('chrome://browser/skin/forward.svg');
      fill: $white;
      -moz-context-properties: fill;
    }

    &[aria-expanded="true"] {
      border-radius: $search-border-radius 0 0 0;
    }

    &:dir(rtl) {
      border-radius: 0 $search-border-radius $search-border-radius 0;

      &[aria-expanded="true"] {
        border-radius: 0 $search-border-radius 0 0;
      }
    }
  }

  .search-label {
    background: $search-glyph-image no-repeat center center / $search-glyph-size;
    fill: $fill-secondary;
    -moz-context-properties: fill;
    position: absolute;
    top: 0;
    offset-inline-start: 0;
    height: 100%;
    width: $search-input-left-label-width;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .search-button {
    border-radius: 0 $border-radius $border-radius 0;
    margin-inline-start: -1px;
    border: 0;
    width: $search-button-width;
    padding: 0;
    box-shadow: $shadow-secondary;
    background: $white url('chrome://browser/skin/forward.svg') no-repeat center center;
    fill: $fill-secondary;
    -moz-context-properties: fill;
    background-size: 16px 16px;

    &:hover {
      z-index: 1;
      box-shadow: 0 1px 0 0 $search-hover-shadow;
      background-color: $search-blue;
      fill: $white;
      cursor: pointer;
    }

    &:dir(rtl) {
      transform: scaleX(-1);
    }
  }

  // Adjust the style of the contentSearchUI-generated table
  .contentSearchSuggestionTable {
    transform: translate(-2px, 2px);

    &:dir(rtl) {
      transform: translate(2px, 2px);
    }
  }
}
