.context-menu {
  display: block;
  position: absolute;
  font-size: $context-menu-font-size;
  box-shadow: $context-menu-shadow;
  top: ($link-menu-button-size / 4);
  left: 100%;
  margin-left: 5px;
  z-index: 10000;
  background: $bg-grey;
  border-radius: $context-menu-border-radius;

  > ul {
    margin: 0;
    padding: $context-menu-outer-padding 0;
    list-style: none;

    > li {
      &.separator {
        margin: $context-menu-outer-padding 0;
        border-bottom: 1px solid $context-menu-border-color;
      }

      > a {
        cursor: pointer;
        color: inherit;
        white-space: nowrap;
        padding: $context-menu-item-padding;
        line-height: $icon-size;
        display: flex;
        align-items: center;

        &:hover {
          background: $star-blue;
          color: $white;
        }
      }
    }
  }
}
