.context-menu {
  display: block;
  position: absolute;
  font-size: $context-menu-font-size;
  box-shadow: $context-menu-shadow;
  top: ($link-menu-button-size / 4);
  offset-inline-start: 100%;
  margin-inline-start: 5px;
  z-index: 10000;
  background: $bg-grey;
  border-radius: $context-menu-border-radius;

  > ul {
    margin: 0;
    padding: $context-menu-outer-padding 0;
    list-style: none;

    > li {
      &.separator {
        margin: $context-menu-outer-padding 0;
        border-bottom: 1px solid $context-menu-border-color;
      }

      > a,
      div.submenu {
        cursor: pointer;
        color: inherit;
        white-space: nowrap;
        padding: $context-menu-item-padding;
        line-height: $icon-size;
        display: flex;
        align-items: center;

        &:hover {
          background: $star-blue;
          color: $white;

          a {
            color: $dark-grey;
          }

          a:hover {
            color: $white;
          }
        }
      }
    }
  }
}

.submenu {
  position: relative;

  .context-menu {
    display: none;
    offset-inline-start: auto;
    offset-inline-end: 95%;
    top: -($link-menu-button-size / 4);
  }

  &:hover {
    .context-menu {
      display: block;
    }
  }
}
