.topic {
  font-size: 12px;
  color: $text-secondary;
  margin-top: $topic-margin-top;
  line-height: 1.6;

  @media (min-width: $break-point-large) {
    line-height: 16px;
  }

  ul {
    margin: 0;
    padding: 0;
    @media (min-width: $break-point-large) {
      display: inline;
      padding-inline-start: 12px;
    }
  }


  ul li {
    display: inline-block;

    &::after {
      content: '•';
      padding: 8px;
    }

    &:last-child::after {
      content: none;
    }
  }

  .topic-link {
    color: $link-secondary;
  }

  .topic-read-more {
    color: $link-secondary;

    @media (min-width: $break-point-large) {
      float: right;

      &:dir(rtl) {
        float: left;
      }
    }

    &::after {
      background-image: url('#{$image-path}topic-show-more-12.svg');
      background-repeat: no-repeat;
      content: '';
      -moz-context-properties: fill;
      display: inline-block;
      fill: $link-secondary;
      height: 16px;
      margin-inline-start: 5px;
      vertical-align: middle;
      width: 12px;
    }

    &:dir(rtl)::after  {
      transform: scaleX(-1);
    }
  }
}
