// ds topsites wraps the original topsites, with a few css changes.
.ds-top-sites {

  // This is the override layer.
  .top-sites {
    // Slightly different alignment with the other DS components than AS has.
    padding: 0;

    // We hide this and don't support it in ds.
    .section-top-bar {
      display: none;
    }

    .top-site-outer {
      padding: 0 12px;
    }

    .top-sites-list {
      margin: 0 -12px;
    }
  }

  // Only show 6 cards for 2/3 and 1/3
  .hide-for-narrow {
    display: none;
  }
}

// Only show 8 cards for the full row.
.ds-column-12 {
  .ds-top-sites {
    .hide-for-narrow {
      display: inline-block;
    }
  }
}

// Size overrides for topsites in the 2/3 view.
.ds-column-8 {
  .ds-top-sites {

    .top-site-outer {
      padding: 0 10px;
    }

    .top-sites-list {
      margin: 0 -10px;
    }

    .top-site-inner {
      .tile {
        width: 84.67px;
        height: 84.67px;
      }

      .title {
        width: 84.67px;
      }
    }
  }
}

// Size overrides for topsites in the 1/3 view.
.ds-column-4 {
  .ds-top-sites {

    .top-site-outer {
      padding: 0 8px;
    }

    .top-sites-list {
      margin: 0 -8px;
    }

    .top-site-inner {
      .tile {
        width: 82.67px;
        height: 82.67px;
      }

      .title {
        width: 82.67px;
      }
    }
  }
}
