.outer-wrapper {
  display: flex;
  padding: $section-spacing $base-gutter $base-gutter;
  height: 100%;
  flex-grow: 1;

  &.fixed-to-top {
    height: auto;
  }
}

main {
  margin: auto;
  width: $wrapper-default-width;

  // Offset the snippets container so things at the bottom of the page are still
  // visible when snippets / onboarding are visible. Adjust for other spacing.
  padding-bottom: $snippets-container-height - $section-spacing - $base-gutter;

  @media (min-width: $break-point-small) {
    width: $wrapper-max-width-small;
  }

  @media (min-width: $break-point-medium) {
    width: $wrapper-max-width-medium;
  }

  @media (min-width: $break-point-large) {
    width: $wrapper-max-width-large;
  }

  section {
    margin-bottom: $section-spacing;
    position: relative;
  }
}

.section-top-bar {
  height: 16px;
  margin-bottom: 16px;
}

.section-title {
  font-size: $section-title-font-size;
  font-weight: bold;
  text-transform: uppercase;

  span {
    color: $text-secondary;
    fill: $text-secondary;
    vertical-align: middle;
  }
}

.body-wrapper {
  opacity: 0;
  // The fade duration and delay below were specifically picked to avoid talos
  // regressing tart, which measures tab opening animation performance. Tabs
  // currently have a 100ms width transition that competes with this transition.
  // When webrender/Quantum turns on, overlapping transitions are no problem.
  // https://bugzilla.mozilla.org/show_bug.cgi?id=1401682#c4
  transition: opacity 75ms ease-in-out;
  @-moz-document url(about:newtab) {
    transition-delay: 125ms;
  }

  &.on {
    opacity: 1;
  }
}
