.outer-wrapper {
  display: flex;
  padding: $section-spacing $base-gutter $base-gutter;
  height: 100%;
  flex-grow: 1;

  &.fixed-to-top {
    height: auto;
  }
}

main {
  margin: auto;
  width: $wrapper-default-width;

  // Offset the snippets container so things at the bottom of the page are still
  // visible when snippets / onboarding are visible. Adjust for other spacing.
  padding-bottom: $snippets-container-height - $section-spacing - $base-gutter;

  @media (min-width: $break-point-small) {
    width: $wrapper-max-width-small;
  }

  @media (min-width: $break-point-medium) {
    width: $wrapper-max-width-medium;
  }

  @media (min-width: $break-point-large) {
    width: $wrapper-max-width-large;
  }

  section {
    margin-bottom: $section-spacing;
    position: relative;
  }
}

.section-top-bar {
  height: 16px;
  margin-bottom: 16px;
}

.section-title {
  font-size: $section-title-font-size;
  font-weight: bold;
  text-transform: uppercase;

  span {
    color: $text-secondary;
    fill: $text-secondary;
    vertical-align: middle;
  }
}

.body-wrapper {
  // Hide certain elements so the page structure is fixed, e.g., placeholders,
  // while avoiding flashes of changing content, e.g., icons and text
  $selectors-to-hide: '
    .section-title,
    .sections-list .section:last-of-type,
    .topic
  ';

  #{$selectors-to-hide} {
    opacity: 0;
  }

  &.on {
    #{$selectors-to-hide} {
      opacity: 1;
    }
  }
}
