.outer-wrapper {
  display: flex;
  padding: $section-spacing $base-gutter $base-gutter;
  height: 100%;
  flex-grow: 1;

  &.fixed-to-top {
    height: auto;
  }
}

main {
  margin: auto;
  width: $wrapper-default-width;

  // This is needed to offset the snippets container so things
  // at the bottom of the page are still visible when snippets are visible
  padding-bottom: $snippets-container-height;

  @media (min-width: $break-point-small) {
    width: $wrapper-max-width-small;
  }

  @media (min-width: $break-point-medium) {
    width: $wrapper-max-width-medium;
  }

  @media (min-width: $break-point-large) {
    width: $wrapper-max-width-large;
  }

  section {
    margin-bottom: $section-spacing;
    position: relative;
  }
}

.section-title {
  font-size: $section-title-font-size;
  font-weight: bold;
  text-transform: uppercase;

  span {
    color: $text-secondary;
    fill: $text-secondary;
    vertical-align: middle;
  }
}
