.outer-wrapper {
  display: flex;
  flex-grow: 1;
  padding: $wrapper-top-padding $base-gutter $base-gutter;
  height: 100%;
}

main {
  margin: auto;
  width: $wrapper-default-width;

  // This is needed to offset the snippets container so things
  // at the bottom of the page are still visible when snippets are visible
  padding-bottom: $snippets-container-height;

  @media (min-width: $break-point-small) {
    width: $wrapper-max-width-small;
  }

  @media (min-width: $break-point-medium) {
    width: $wrapper-max-width-medium;
  }

  @media (min-width: $break-point-large) {
    width: $wrapper-max-width-large;
  }

  section {
    margin-bottom: $section-margin;
  }
}

.section-title {
  color: $section-title-color;
  font-size: $section-title-font-size;
  font-weight: bold;
  text-transform: uppercase;

  span {
    vertical-align: middle;
  }
}
