main {
  margin: 40px auto;
  max-width: 736px;

  section {
    margin-bottom: $section-margin;
  }
}

.section-title {
  color: $section-title-color;
  font-size: $section-title-font-size;
  font-weight: normal;
  margin: 0 0 $section-title-bottom-margin;
}
