main {
  margin: 40px auto;
  max-width: $wrapper-max-width + $base-gutter * 2;
  padding: $base-gutter;

  section {
    margin-bottom: $section-margin;
  }
}

.section-title {
  color: $section-title-color;
  font-size: $section-title-font-size;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 $section-title-bottom-margin;
}
